html, body {
      margin: 0;
      padding: 0;
      width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
    overflow-x: hidden;
}



#icon{
    width:60px;
    float:left;
    margin-left: 10px;
}

nav{
    position: fixed;
    width: 100%;
    background-color: white;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav li{
    display: inline;
    margin-left: 5%;
    text-decoration: none;
}

.nav-account{
    float: right;
}


/*dashboard page*/

.background{
    width: 100%;
    height: 50vh;
}

.dashboard_searchbar{
    position:relative;
    width:40%;
    height:60px;
    left:30%;
    top:-25vh;
    background:white;
    border-radius: 20px;
}

.searchbar_textfeld{
    font-size: 18;
    padding: 18px;
    color: rgb(200,200,200);
    float: left;
}

.search_button{
    float: right;
    background: rgb(196,242,192);
    border-radius: 20px;
    padding: 15px;
}
#lupe{
    width:30px;
    height:30px;
}

main{
    background: white;
}

.food_suggestion{
    width:25%;
    height: 400px;
    display: inline-block;
    border-radius: 20px;
    margin:2%;
}

.suggestion_img{
    width:100%;
    border-radius: 20px;
}
.suggestion_title{
    text-align: left;
    margin:15px 5px;
    font-size: 18px;
    font-weight: bold;
}

.suggestion_text{
    text-align: left;
    margin:5px;
}

#best_restaurants{
    width:83%;
    height:500px;
    display: inline-block;
    border-radius: 20px;
    margin: 30px;
}

#best_restaurants_img{
    width: 100%;
    border-radius: 20px;
}

#best_restaurants_button{
    position: relative;
    background: rgb(196,242,192);
    color: white;
    font-size:18px;
    font-weight:bold;
    width: 50%;
    padding: 20px;
    top:-200px;
    border-radius:20px;
    left: 25%;
}

.dashboard_comment_h1{
    font-size:24px;
    margin-bottom:30px;
}

.dashboard_comment{
    width:25%;
    height:200px;
    margin:1%;
    display: inline-block;
    border-radius: 20px;
    background:white;
    border-style: solid;
}

.comment_profilepic{
    width:40px;
    height:40px;
    margin:10px;
    display: inline-block;
    float: left;
}

.profilepic{
    width:100%;
    border-radius:50%;
}

.comment_username{
    display: inline-block;
    float:left;
    margin-top:10px;
    padding: 10px 0px;
    text-align:left;
    color: rgb(200,200,200);
}

.comment_time{
    margin-top:10px;
    margin-right: 10px;
    padding: 10px 0px;
    text-align:right;
    color: rgb(200,200,200);
}

.comment_title{
    text-align: left;
    margin:15px 10px;
    font-size: 18px;
    font-weight: bold;
}

.comment_text{
    text-align: left;
    margin:10px;
}




/*restaurant page*/

#restaurant_background {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 60;
    background-color: aquamarine;
}

#restaurants_searchbar{
    height: 60px;
    width:500px;
    position: relative;
    border-radius: 20px 20px 20px 20px;
    left: 50%;
    transform: translate(-50%);

    top: 40px;


    background-color: white;
}



/*footer*/

footer{

}