html, body {
      margin: 0;
      padding: 0;
      width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-align: center;
    margin:0px;
    overflow-x: hidden;
}

//navbar

#icon{
    width:50px;
    float:left;
    margin-left: 10px;
}

nav{
    position: fixed;
    width: 100%;
    background-color: white;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav li{
    display: inline;
    margin-left: 5%;
    text-decoration: none;
}

footer{


}

#restaurant_background{
    height: 100vh;
    width: 100vw;
    position: relative;


//dashboard page

.background{
    width:100%;
    background-image: url('static/assets/dashboard-BG.jpg');
}


}

#restaurants_searchbar{
    height: 5vh;
    width:35vw;
    position: relative;
    background-color: black;
}