{% load static %}

html, body {
      margin: 0;
      padding: 0;
      width: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    overflow-x: hidden;
    background-color: white;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;


}
::-webkit-scrollbar-thumb {

  border-radius: 9px;

    stroke: #33ccff;
    stroke-width: 3px;

  background-color: lightgrey;
  -webkit-box-shadow: 0 0 1px rgba(200, 255, 255, .5);
}

::-webkit-scrollbar-track  {

    border-radius: 9px;

}

#icon{
    position: relative;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: -66px;
    width:80px;
    float:left;
    z-index: 3;
}

nav{
    position: fixed;
    z-index: 6;
    width: 100%;
    height: 60px;
    background-color: white;
    position: relative;
    margin-bottom: 25px;
    border-bottom: 1px solid lightgrey;
    font-size: 16px;

}

nav a{
    text-decoration: none;
    color: black;

}


#navbar_reiter{
    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%,-50%);

}

#navbar_reiter a{
    position: relative;
     margin: 20px;
}

nav a:hover{
   color: rgb(108,183,90);

}

#navbar_login{

    position: absolute;

    right: 77px;
    top: 50%;
    background-color: #ff4648;
    transform: translate(0,-50%);
}

#navbar_login a, #navbar_register a{
    position: absolute;
    white-space: nowrap
}

#navbar_register{

    position: absolute;

    right: 157px;

    height: 16px;
    top: 50%;
    background-color: #ff4648;
    transform: translate(0,-50%);

}

.nav-account{
    list-style-type: none;
    display:inline
    position:relative;
    margin:1%;
    padding:10px;
    float: right;
    text-decoration: none;
    margin-top:-10px;
}

#nav-account_img{
    display: inline-block;
    position:relative;
    width:40px;
    margin:10px;
    float:right;
    margin-top:-10px;
}



/*---------main page---------*/

#home_wrapper {
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 20px;
  grid-template-columns: 100%;
  min-width: 600px;
  width:100%;
}

/*grid classes*/

#main_row1{
    margin-top:-50px;
    grid-column:1/1;
    grid-row:1/1;
    height: 60vh;

    background-image: url('../assets/dashboard-BG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#main_row2{
    background-color:white;
    grid-column:1/1;
    grid-row:2/2;
    height:500px;
    border-radius:20px;
}

#main_row3{
    background-color:white;
    grid-column:1/1;
    grid-row:3/3;
    height:auto;
    border-radius:20px;
}

#main_row4{
    background-color:white;
    grid-column:1/1;
    grid-row:4/4;
    height:400px;
    border-radius:20px;
}

/*main_row1*/

.main_searchbar{
    position:relative;
    width:40%;
    height:60px;
    left:30%;
    top:30vh;
    background-color: white;
    border-radius: 20px;
    white-space: nowrap;
}

.main_searchbar_bg{

}


.search_button{
    float: right;
    background: #7aaf6b;
    border: none;
    border-radius: 0px 20px 20px 0px;
    padding: 15px;
}
#lupe{
    width:30px;
    height:30px;
}
#id_restaurant_name{
    width:calc(100%-60px);
    height: 60px;
    float:left;
    border: none;
    border-radius:20px 0px 0px 20px;
    font-size:20px;
    background:none;
}



/*main_row2*/

.food_suggestion{
    width:25%;
    height: 350px;
    display: inline-table;
    border-radius: 20px;
    margin:2%;
}

.suggestion_img{
    width:100%;
    max-height:300px;
    object-fit:cover;
    border-radius: 20px 20px 0px 0px;
}
.suggestion_title{
    text-align: left;
    margin:15px 5px;
    font-size: 18px;
    font-weight: bold;
}

.suggestion_text{
    text-align: left;
    margin:5px;
}

#all_articles{
    background: white;
    position: relative;
    height:30px;
    width:25%;
    border: 1px solid lightgrey;
    border-radius:20px;
    font-size:18px;
    text-decoration:none;
}

#all_articles:hover{
    background-color: #7aaf6b;
    border:none;
}



/*main_row3*/

#best_restaurants_img{
    width: 83%;
    max-height:350px;

    object-fit: cover;
    border-radius: 20px;
}

#best_restaurants_button{
    margin:auto;
    display: inline-block;
    position:relative;
    bottom:50%;
    background-color: #7aaf6b;
    color: white;
    font-size:18px;
    font-weight:bold;
    width: 50%;
    padding: 20px;
    border:none;
    border-radius:20px;
}

/*main_row4*/

.dashboard_comment_h1{
    font-size:24px;
    margin-bottom:50px;
}

.dashboard_comment{
    width:25%;
    max-width:400px;
    height:200px;
    margin:0px 1%;
    display: inline-table;
    border: lightgrey;
    border-width: 1px;
    border-radius: 20px;
    background:white;
    border-style: solid;
}

.comment_profilepic{
    width:40px;
    height:40px;
    margin:10px;
    display: inline-block;
    float: left;
}

.profilepic{
    width:100%;
    border-radius:50%;
}

.comment_username{
    display: inline-block;
    float:left;
    margin-top:10px;
    padding: 10px 0px;
    text-align:left;
    color: rgb(200,200,200);
}

.comment_time{
    margin-top:10px;
    margin-right: 10px;
    padding: 10px 0px;
    text-align:right;
    color: rgb(200,200,200);
}

.comment_text{
    text-align: left;
    margin:10px;
    margin-top:20px;
}




/*restaurant page*/

/* #restaurants_background {
    height: 100vh;
    width: 100vw;
    position: fixed;

    background-color: aquamarine;
} */


#restaurants_wrapper {
    position: relative;
    display: grid;
    justify-content: center;

    z-index: 5;


    grid-column-gap: 25px;
    grid-row-gap: 25px;
    grid-template-columns: 9.4% 15.6% 50% 21.2% 3.8%;


    width: 1800px;
    margin-left: calc(50vw - 900px );
    top: -26px;






}

/*#restaurants_header{

    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: white;

    height: 65px;
     margin-left: 20px;
     margin-right: 85px;
    border-radius: 20px 0px 0px 20px ;
} */

#restaurants_body{

    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: white;
    height: auto;


    border-radius: 20px ;


}

#restaurants_body p{
    margin: 0px;
}

#restaurants_Adresseingabe_Headline{

    font-family: Montserrat;
    appearance: none;

    border: none;
    margin-left: 10px;
    font-size: 14px;
    width: calc(100% - 20px);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 2px;
    margin-bottom: 2px;

}

#restaurants_Adresseingabe_Headline::placeholder {
    color: darkgrey;
}

#restaurants_Adresseingabe_Headline_underline{

    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;

    border: 2px solid lightgrey;
    border-radius: 20px;
    text-align: left;
    color: darkgrey;
    overflow: hidden;

    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;

}

.restaurants_food_category{
    display: none;
}

.restaurants_adresse img{
    height: 29px;
    margin-top: 3px;
    float: left;
    margin-right: 7px;
    margin-left: 0px;
}

.restaurants_adresse{
    margin-bottom: 23px;
    margin-top: 21px;

}

#restaurants_anzahl_vegetarisch_underline, #restaurants_anzahl_vegan_underline{

    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;

    background-color: lightgrey;
    height: 2px;


    margin-left: 163px;
    margin-right: 25px;
    margin-top: 9px;
    margin-bottom: 9px;

    }



#restaurants_body_content{

    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;

    overflow: hidden;
    overflow-y: scroll;

    height: calc(100vh - 110px);

    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;

    background-color: white;

    font-size: 14px;
}
.restaurants_img{
    display: inline-block;
    width: 135px;
    height: 135px;


    float: left;
    margin-right: 25px;

    border-radius: 10px;
      object-fit: cover;

    background-size: cover;
}

.restaurants_img img{

    width: 135px;
    height: 135px;
    border-radius: 10px;
      object-fit: cover;

}

.restaurants_block{

    background-color: white;

    text-align: left;
    margin-bottom: 25px;


    overflow: hidden;

}

.restaurants_dishes{
    display: none;
    margin-top: 5px;
    margin-right: 25px;

}

.restaurants_food{
    padding: 5px;

    padding-left: 10px;

    background-color: white;
    border: 1px solid lightgrey;
    margin-top: 5px;
}

.restaurants_food_name{
    display: inline-block;
    width: calc(50% - 24px);

}

.restaurants_food_name p{
    line-height: 100%;
}

.restaurants_food_price{
    width: 10%;
    display: inline-block;
    text-align: right;
}

.restaurants_category_mark{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #f7ba5b;
}

.restaurants_food_rating{
    opacity: 0;
    width: 40%;
    display: inline-block;

}


.restaurants_food_rating img{
    margin-bottom: -2px;
   height: 16px;
    margin-left: 2px;
}
.restaurants_food_rating p{
 display: none;
}

.restaurants_block:hover{

    background-color: #fbfbff;
    border-radius: 10px 0 0 0;

}

.restaurants_name p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;

}

.restaurants_name a{
    text-decoration: none;
    color: #45354d;
}

.restaurants_name{
        margin-top: -2px;
        margin-bottom: 0px;
        display: inline-block;
    }

.restaurants_anzahl_vegetarisch{
    margin: 0px;
    display: inline-block;
    border-radius: 20px 0 0 20px ;
    border: 1px solid lightgrey;
    width: calc((100% - 137px - 50px)/2);
    text-align: center;
}

.restaurants_anzahl_vegetarisch , .restaurants_anzahl_vegan {

     -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.restaurants_anzahl_vegan{

    margin-left: -4px;
    display: inline-block;
    border-radius: 0 20px 20px 0;
    border: 1px solid lightgrey;
    border-left: none;
    width: calc((100% - 137px - 50px)/2);
    text-align: center;
}


.restaurants_tags{
    margin-bottom: 5px;
}

.restaurants_anzahl_vegan img{
    height: 17px;
    float: left;
    margin: 0px;
    margin-right: 2px;
}

.restaurants_anzahl_vegetarisch img{
    height: 17px;
    float: left;
    margin-right: 22px;
}


.restaurants_body_content{
    text-align: left;
}





.restaurants_rating img{
        height: 16px;
        margin: 4px;
        margin-right: 5px;
        margin-left: 0px;
    }
    .restaurants_rating{
        display: inline-block;
        float: right;
        margin-top: -5px;
        margin-right: 20px;

    }

.restaurants_rating p{
   display: none;
}


    .restaurants_anzahl_vegan img{
        height: 15px;
        float: left;
        margin: 0px;
        margin-right: 2px;
    }

    .restaurants_anzahl_vegetarisch img{
        height: 15px;
        float: left;
        margin-right: 22px;
    }


#restaurants_stars{

    display: inline-block;
    position: relative;
    margin-top: -270px;
    height: 24px;
    float: left;
    margin-left: 25px;

    cursor: pointer;

}

#restaurants_rating_reset{

    float: right;

    display: inline-block;
    margin-top: -261px;
    margin-right: 25px;
    color: darkgrey;

    cursor: pointer;

}

#restaurants_rating_reset:hover{

    color: black;

}


#restaurants_aside_left{

    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: white;

    border-radius: 20px ;

    height: 482px !important;

    font-size: 14px;

    margin-right: -25px;

}

#restaurants_aside_right {

    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;

    height: 400px;

    margin-top: 25px;
}

#restaurants_aside_right_bottom {

    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;


    border-radius: 20px;
    margin-top: 25px;


}

#restaurants_aside_right_bottom_text{
    font-size: 14px;
    text-align: left;
    margin-top: 410px;
    display: none;
}

#restaurants_aside_right_bottom_text p{
    margin: 0px;


}

#restaurants_map_name{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 5px !important;
    color: #45354d;
}

#restaurants_aside_right_bottom_text img{
    height: 29px;

    margin-right: 10px;
    margin-top: 3px;
    display: inline-block;
    float: left;
}

#restaurants_background{

    position: fixed;
    z-index: 0;
    top: 0px;
    height: 100vh;
    width: 100vw;

    background-color: white;

    /*background-color: #85697A;*/

    /*background-image: url("http://127.0.0.1:8000/static/assets/dashboard-BG.jpg"); */

    -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-height: 120vw;
    opacity: 0.2;
}

#restaurants_searchbar{

    /* background-color: white;
    border-radius: 20px ;
    display: inline-block;
    height: 85px;
    width: 20px; */

}
/*#restaurants_searchbarIcon{

    background-color: rgb(112,175,107);
    height: 65px;
    width: 65px;
    margin-right: -65px;
    float: right;
    border-radius: 0px 20px 20px 0px ;

}*/

#restaurants_map{

    background-color: rgb(112,175,107);
    height: 85px;
    width: 85px;
    margin-right: -85px;
    float: right;
    border-radius: 0px 20px 20px 0px ;

}

#id_name{
    background-color: white;
    margin: 5px;
    margin-top: 25px;
    margin-bottom: 35px;


    border: none;
    border: 2px solid lightgrey;
    font-family: Montserrat;
    border-radius: 20px;

    margin-right: 25px;

    font-size: 14px;
}

/*** Works on common browsers ***/




#id_rating{
    background-color: white;
    display: none;
    margin: 5px;
    margin-top: 20px;
     width: calc(100% - 150px)!important;
    height: 20px;
    border: none;
    border-bottom: 2px solid lightgrey;
    font-family: Montserrat;
    font-size: 16px;

    margin-right: 20px;
}

.stars_rating_class{
    float: left;
    height: 24px;
    margin: 5px;
    margin-right: 7px;
    margin-left: 0px;

}


#restaurants_filter input[type=text] {
    width: calc(100% - 50px);
    padding: 7px 10px;

    box-sizing: border-box;
     float: right;
}

#restaurants_filter input[type=text]:focus  {

}


#restaurants_filter input[type="number" i] {
     width: calc(100% - 120px);
    padding: 15px 10px;

    box-sizing: border-box;
    float: right;
}

#restaurants_filter textarea:focus, input:focus ,select:focus{
    outline: none;
}

#restaurants_filter_reset{
    text-decoration: none;

    color: darkgrey;
}

#id_tags{
    background-color: white;
    margin: 5px;
    margin-top: 30px;
    margin-bottom: 20px;
    overflow-y: scroll;
    height: 200px;
    overflow-x: hidden;

    float: right;
    width: calc(100% - 50px);

    border-style: none;
    font-family: Montserrat;
    font-size: 14px;
    margin-right: 25px;
    background-color: white;

    cursor: pointer;
}

#id_tags option{

    padding: 5px;
    padding-left: 10px;
    margin-right: 25px;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 5px;
    font-size: 14px;

}
 #id_tags option:checked{
     background: rgb(112,175,107) -webkit-linear-gradient(bottom, rgb(112,175,107) 0%, rgb(112,175,107) 100%);
     border: 1px solid rgb(112,175,107);
     border-radius: 20px;
}

#id_tags option:hover{

     border-bottom: 1px solid rgb(112,175,107);

}

#id_affordability{

display: none;

}

#restaurants_set_affordability{
    display: inline-block;
    width: calc(100% - 42px);
    height: 44px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none;
    cursor: pointer;
}

.restaurants_set_affordability_elements{
    display: inline-block;
    width: calc((100% - 46px)/3);
    margin: 4px;
    height: 40px;
    border: 2px solid lightgrey;
    color: darkgrey;


}

.restaurants_set_affordability_elements p{
    position: relative;
    height: 20px;
    top: 20%;
    transform: translate(0,-50%);
}

.restaurants_set_affordability_elements:hover{

    border: 2px solid rgb(112,175,107);
}

#restaurants_filter ::placeholder{

    color: darkgrey;
}




#restaurants_filter button{
    background-color: white;
    border-radius: 20px;
    border: 2px solid lightgrey;
    font-family: Montserrat;
    font-size: 14px;
    margin: 5px;
    margin-top: 28px;
    margin-bottom: 10px;
     width: calc(100% - 50px);
    height: 40px;
    padding: 0px;
    float: right;
    margin-right: 25px;

    cursor: pointer;
    outline:none;
}

#restaurants_filter button:hover{
    background-color: rgb(112,175,107);
    border-radius: 20px;
    border: 2px solid rgb(112,175,107);



    width: calc(100% - 40px);
    height: 40px;
    padding: 0px;
    float: right;
    margin-right: 20px;

}

#restaurants_filter label{
    display: none;
}

/* articles Page */

.articles img{
    display: inline-block;
    width: 135px;
    height: 135px;
    background-color: rgb(196, 242, 192);

    float: left;
    margin-right: 25px;

    background-size: cover;
}

.articles_img>img{

    width: 135px;
    height: 135px;
    border-radius: 10px;
      object-fit: cover;

}

.articles_block{

    background-color: white;

    text-align: left;
    margin-bottom: 25px;


    overflow: hidden;

}

#restaurants_bottom{
    background-color: white;
    border-top: 1px solid lightgrey;

    display: none;
    height: 52px;
    width: 100vw;
    position: fixed;
    bottom: 0px;
    z-index: 5;
}

#restaurants_open_filter{
    display: inline-block;
    margin-top: 15px ;
    padding: 2px;

}

#id_city, #id_zip_code{
    display: none !important;
}

#restaurants_open_filter img{
    height: 20px;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 80px; /* Place the button at the bottom of the page */
  right: 16px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgba(0,0,0,0.5); /* Set a background color */
    opacity: 0.7;
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
 width: 40px;
    height:50px;
  border-radius: 4px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}




/*------About Page--------*/

#about_wrapper {
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 20px;
  grid-template-columns: 100%;
  min-width: 600px;
  width:100%;
}

#about_row1{
    background:white;
    grid-column:1/1;
    grid-row:1/1;
    height:100px;
    margin-top:10vh;
}

#about_row2{
    text-align: center;
    padding: 0 10%;
    width: 90%;
    background:white;
    grid-column:1/1;
    grid-row:2/2;
    height:20vw;
    margin-top:10vh;
}


.about_teammember{
    float: left;
    background: white;
    width:20vw;
    height:20vw;
}

.about_teammember_img{
    width:100%;
    height: 100%;
    object-fit:cover;
}

.about_overlay {
  position: relative;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #7aaf6b;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.about_teammember:hover .about_overlay {
  bottom: 100%;
  height: 100%;
}

.about_text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color:white;
}

.about_teammember_name{
    font-size:24px;
}
.about_teammember_title{
    font-size:16px;
    margin-top:5px;
    margin-bottom:30px;
    color:lightgrey;
}
.about_teammember_email{
    font-size:16px;
}
.about_teammember_bio{
    font-size:16px;
    margin-top:30px;
    color:lightgrey;
}

.about_teammember_social{
    width:10%;
    margin-top:30px;
}





@media only screen and (max-width: 1758px) {

    /*home*/
    input{
        width:85%;
    }

    #restaurants_wrapper {
        width: calc(100vw - 50px);
        margin-left: 25px;
        margin-right: 25px;
        column-gap: 25px;
        grid-template-columns:  calc(4.5% - 29px) calc(18.75% ) 1fr calc(22.75% ) ;
    }

    #restaurants_aside_right{
        height: 21.2vw;
    }

    #restaurants_aside_right_bottom_text{
        margin-top: calc(21.2vw + 10px);
    }

    #restaurants_aside_left{
        display: inline-block;
        float: right;
        margin-left: calc(-25px);
    }

}

@media only screen and (max-width: 1220px) {

    /*nav*/
    #icon{
        width:25px;
    }

    /*home*/
    input{
        width:80%;
    }



}

@media only screen and (max-width: 1050px) {

    /*home*/
    input{
        width:78%;
    }


  #restaurants_wrapper {
      width: 100vw;
      margin-left: 0px;
      grid-template-columns: 0px 230px 1Fr 0px;
      grid-column-gap: 25px;
  }

  #restaurants_aside_right{
      display: none;
  }

  #restaurants_aside_left{
     margin-left: 0px;
  }

}

@media only screen and (max-width: 820px) {


    input{
        width:80%;
    }

  #restaurants_wrapper {

      grid-template-columns: 0px 0px 1Fr 0px;
      grid-column-gap: 0px;
  }

    #restaurants_body_content{
        height: auto !important;
        overflow-y: paged-y !important;
    }


  #restaurants_aside_left{

    position: fixed;
    display: none;
    background-color: white;

    top: 0px;



    height: 100vh !important;
    width: 100vw;

    font-size: 14px;

    margin-right: -25px;

}

  #restaurants_filter{
      margin-top: calc((70vh - 460px)/2);

      width: 70%;
      margin-left: 15%;
  }



  #restaurants_bottom{
      display: block;

  }

  #navbar_reiter{
      display: none;
  }

  body::-webkit-scrollbar {
  display: none;
}

    #restaurants_filter::-webkit-scrollbar{
        display: block;
    }


/* Hide scrollbar for IE, Edge and Firefox */
#restaurants_body_content {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

}

@media only screen and (max-width: 700px) {


  nav{
        font-size: 14px;
  }


}

@media only screen and (max-width: 570px) {


    #restaurants_body_content{
        margin-right: 20px;
        margin-left: 20px;
    }

     #restaurants_filter{
      margin-top: calc((90vh - 460px)/2);

      width: 90%;
      margin-left: 5%;
  }

 #restaurants_Adresseingabe_Headline_underline{
     margin-left: 20px;
     margin-right: 20px;
 }


 .restaurants_block{
    font-size: 12px;
     margin-bottom: 20px;

 }
    .restaurants_name p{
        font-size: 14px;
    }

    .restaurants_img{
        height: 100px;
        width: 100px;
        margin-right: 15px;
    }
    .restaurants_img img{
        height: 100px;
        width: 100px;
    }
    .restaurants_rating img{
        height: 13px;
        margin: 4px;
        margin-right: 2px;
        margin-left: 0px;
    }
    .restaurants_rating{

        margin-right: 0px;
    }

    .restaurants_adresse{
        margin-bottom: 12px;
        margin-top: 10px;

    }
    .restaurants_adresse img{
        height: 26px;

    }

    .restaurants_anzahl_vegetarisch{

    width: calc((100% - 100px - 18px)/2);

    }
    .restaurants_anzahl_vegan{

    width: calc((100% - 100px - 18px)/2);

    }


}

@media only screen and (max-width: 374px) {

    #restaurants_filter{
          margin-top: calc((85vh - 460px)/2);

          width: 96%;
          margin-left: 2%;

    }
     .restaurants_anzahl_vegetarisch,  .restaurants_anzahl_vegan{

    width: calc((100% - 94px - 12px)/2);

    }
     #restaurants_Adresseingabe_Headline_underline{
     margin-left: 16px;
     margin-right: 16px;
    }



     .restaurants_block{
        font-size: 11px;
         margin-bottom: 16px;

    }

     .restaurants_name p{
        font-size: 13px;

    }

     .restaurants_rating img{
        height: 12px;
        margin-top: 4px;
        margin-right: 2px;
        margin-left: 0px;
    }
    .restaurants_rating{

        margin-right: 0px;
    }


     #restaurants_body_content{
        margin-right: 16px;
        margin-left: 16px;
    }

     .restaurants_adresse img{
        height: 22px;

    }

    .restaurants_img{
      height: 94px;
      width: 94px;
      margin-right: 10px;
    }

    .restaurants_img img{
        height: 94px;
        width: 94px;
      }

}

/*restaurants_details*/

#rd_banner{

    display: inline-block;
    background-color: rgb(112, 175, 107);
    height: 200px;
    width: 100vw;
    margin-top: -25px;
    background-image: url('../assets/dashboard-BG.jpg');
    background-size: cover;

}

#rd_tags{
    display: inline-block;
    width: 100vw;
    background-color: #70af6b;
}

#rd_tags p{
    display: inline-block;
    color: #f1f1f1;
    margin:0px;
    padding: 0px;
    padding-right: 5px;
    padding-left: 5px;
}

#rd_tags p:hover{
    color: white;
    cursor: pointer;
    transition: color 0.5s;
}

#rd_header{

    display: inline-block;

    width: calc(100vw - 50px);

    margin-left: 25px;
    margin-right: 25px;

    margin-top: 25px;
    margin-bottom: 25px;

}

#rd_profile_image{
    width: 135px;
    height: 135px;
    float: left;
    margin-right: 25px;
    border-radius: 10px;
    object-fit:cover;
}

#rd_name{
    float: left;

    text-align: left;
    background-color: white;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #3F3C54;
    margin: 0px;
    padding-right: 10px;
    margin-bottom: 3px;
}

#rd_rating{
    display: inline-block;
    float: left;
    height: 25px;
    width: 200px;

    margin-bottom: 5px;
}

#rd_rating p{
    display: none;
}

#rd_rating img{
    float: left;
    height: 25px;
    margin-right: 5px;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

#rd_description{
    display: inline-block;
    width: calc(100% - 135px - 25px);
    height: 70px;
    text-align: left;
    float: left;
    background-color: white;
}

#rd_description p{
    margin: 0px;
}


#rd_body{
    background-color:lightgrey ;
    display: inline-block;
    width: calc(100vw - 50px);
    margin-left: 25px;
    margin-right: 25px;

}

#rd_body_header{

    display: inline-block;
    width: calc(100vw - 50px);
    background-color: white;

}


#rd_body_header p{
    display: inline-block;
    float: left;
    margin:0px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    color: white;
    width: calc(25%);
    background-color: #3F3C54;

    cursor: pointer;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    transition: background-color 0.5s;

}


#rd_body_header p:hover{

}



.rd_options{

    background-color: white;
    width: 100%;
    height: auto;
    min-height: 600px;

}

#rd_foods_head{
    display: inline-block;
    width: 100%;

}

#rd_vegan{

    display: inline-block;
    float: left;

    border-top: 2px solid lightgrey;
    border-bottom: 2px solid lightgrey;

    padding: 2px;
    width: 150px;

    transition: background-color 0.5s, border-color 0.5s;
    border-radius: 0 20px 20px 0;
    border-left: 1px solid lightgrey;
    border-right: 2px solid lightgrey;
}

#rd_vegetarisch{

    display: inline-block;
    float: left;

    border-top: 2px solid lightgrey;
    border-bottom: 2px solid lightgrey;

    padding: 2px;
    width: 150px;

    transition: background-color 0.5s;
    border-radius: 20px 0 0 20px ;
    border-right: 1px solid lightgrey;
    border-left: 2px solid lightgrey;
}

#rd_foods_tags{

    float: left;
    text-align: left;
    max-width: 100%;
    width: 100%;
    margin-bottom: 0px;
    overflow: auto;
    white-space: nowrap;
    -ms-overflow-style: none!important;  /* IE and Edge */
    scrollbar-width: none!important;
      -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

#rd_foods_tags:hover{
    cursor: pointer;
}

#rd_foods_tags:active{
    cursor: grab!important;
}





.rd_food_category{
    display: none;
}

.rd_food_tag{
    display: inline-block;
    margin: 0px;
    border: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    margin-bottom: 20px;
    border-radius: 20px;
    color: darkgrey;
       -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

div ::-webkit-scrollbar{
    display: none !important;
}



.rd_food_tag:hover{

    cursor: pointer;
    transition: 0.5s;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

#rd_food_searchbar{
    font-family: Montserrat;
    appearance: none;

    display: inline-block;
    float: right;
    border: 2px solid lightgrey;
    border-radius: 20px;
    font-size: 14px;
    padding: 2px;
    padding-left: 10px;
    margin-top: 14px;
    margin-bottom: 14px;
    width: 200px;
}

#rd_foods_body{
    display: inline-block;
    width: calc(100%);

}

.rd_food_block{
    display: inline-block;
    background-color: white;
    width:  calc(100% - 22px);
    margin-bottom: 12px;
    border: 1px solid lightgrey;
    padding: 10px;
}

.rd_block_name{
    float: left;
    width: calc(100% - 10px);
    text-align: left;
    background-color: white;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #3F3C54;
    margin: 0px;
    padding-right: 10px;
    margin-bottom: 3px;
}

.rd_block_description{
    float: left;
    width: calc(100% - 10px);
    height: 40px;
    text-align: left;
    background-color: white;
    font-size: 14px;

    margin: 0px;
    padding-right: 10px;
    margin-bottom: 3px;
}

.rd_block_price{
    float: left;

    text-align: left;
    background-color: white;
    font-size: 14px;

    margin: 0px;
    padding-right: 10px;
    margin-bottom: 3px;
}


#rd_comments_block{
    display: inline-block;
    float: left;

}

#rd_addcoment{
    display: inline-block;
    float: right;

}

.rd_comment{
    width: 400px;
   /* background-color: #f4f8f4; */
    border: 2px solid lightgrey;
    overflow: hidden;
    margin: 25px;
    border-radius: 20px;
    padding: 10px;
    max-height: 300px;
}

.rd_comment_profilepic{
    height: 30px;
    width: 30px;
    border-radius: 20px;
    margin: 10px;
    margin-bottom: 5px;
    display: inline-block;
    float: left;
}
.rd_comment_profilepic img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-size: cover;
    object-fit:cover;
}

.rd_comment_username{
    display: inline-block;
    float: left;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #45354d;
    margin-top: 16px;
}

.rd_comment_text{
    width: calc(100% - 20px);
    display: inline-block;
    max-height: 125px;
    overflow-y: scroll;
    margin-bottom: 10px!important;
    text-align: left;
}

.rd_comment_text ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;

}

.rd_comment_time{
    width: calc(100% - 20px);
    margin-bottom: 5px;
    display: inline-block;
    max-height: 400px;
    text-align: left;
    font-size: 12px;
    font-style: italic;
}

.rd_comment_rating{
    display: inline-block;
    float: right;
    margin-top: 15px;
    margin-right: 10px;
}

.rd_comment_rating img{
    height: 16px;
}

@media only screen and (max-width: 600px) {

    #rd_food_searchbar{
        width: 130px;
    }

    #rd_vegan, #rd_vegetarisch{
        width: calc((100% - 160px)/2);
    }

}

/*footer*/

footer{
    display: none;
}



