{% extends 'accounts/main.html' %}

{% block content %}


    <div class="article_flex">
    {% for i in articles %}
        <div class="food_suggestion">
            <div class="effect-1"></div>
            <div class="effect-2"></div>
            <div class="suggestion_background">
                <a href="{% url 'article_detail' pk=i.pk %}">
                    <img class="suggestion_img" src="{{i.banner.url}}" alt="food suggestion">
                    <div class="suggestion_title">{{i.headline}}</div>
                    <div class="suggestion_text">{{i.subtitle}}</div>
                </a>
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}