{% extends 'accounts/main.html' %}

{% block content %}

<div id="articles_wrapper">
<div class="articles-detail-container">
    <div class="articles-banner">
        <img id="article_banner" src="{{article.banner.url}}">
    </div>


{% if article.ingredientList %}
    {% include 'snippets/ingredients.html' %}
{% endif %}

    <div class="articles-text">
        <div class="articles-headline">
            <p>{{article.headline}}</p>
        </div>
        <div class="articles-subtitle">
            <p>{{article.subtitle}}</p>
        </div>
        <div class="article-date">
             <p>{{article.date_created}}</p>
        </div>
        <div class="articles-content">
            <p>{{article.article_body}}</p>
        </div>
        {% if article.recipe %}
        <div>
            {% include 'snippets/recipe.html' %}
        </div>
        {% endif %}
    </div>
</div>

</div>

<div id="article_dd">
    <p>Zutaten</p>
</div>

<script>

    let dd = false;

    window.onscroll = function () {
        scrollFunction()
    };

    window.onresize = function (){
        height = document.getElementById("articles_wrapper").offsetHeight;
        if(document.body.clientWidth < 900){
            if( document.getElementsByClassName("ingredients-container")[0].style.position != "fixed") {
                document.getElementsByClassName("ingredients-container")[0].style.position = "fixed"; }
                document.getElementsByClassName("ingredients-container")[0].style.bottom = "-500px";
            document.getElementsByClassName("ingredients-container")[0].style.top = "auto";
                dd = false;

        }
        if(document.body.clientWidth > 899 && document.body.scrollTop > height - 420){
             document.getElementsByClassName("ingredients-container")[0].style.top = "69px";
            document.getElementsByClassName("ingredients-container")[0].style.position = "relative";
            scrollFunction();
            document.getElementsByClassName("ingredients-container")[0].style.height = "auto";
            document.getElementsByClassName("ingredients-container")[0].style.bottom = "auto";
        }
    }
    let height = document.getElementById("articles_wrapper").offsetHeight;
    function scrollFunction() {
        height = document.getElementById("articles_wrapper").offsetHeight;
        console.log("height " + height);
        console.log(document.body.scrollTop);
        if(document.body.clientWidth > 899) {
            if (document.body.scrollTop > 260) {
                document.getElementsByClassName("ingredients-container")[0].style.position = "fixed";
                document.getElementsByClassName("ingredients-container")[0].style.top = "69px";
                document.getElementsByClassName("ingredients-container")[0].style.right = "0px";
            } else {
                document.getElementsByClassName("ingredients-container")[0].style.position = "relative";
                document.getElementsByClassName("ingredients-container")[0].style.top = "auto";
            }

            if (document.body.scrollTop > height - 420) {
                document.getElementsByClassName("ingredients-container")[0].style.position = "fixed";
                document.getElementsByClassName("ingredients-container")[0].style.top =  69 + height - 420 - document.body.scrollTop;
                document.getElementsByClassName("ingredients-container")[0].style.right = "0px";
            }
        }
    }

    document.getElementById("article_dd").addEventListener('click',function (){
        if(!dd){
            document.getElementsByClassName('ingredients-container')[0].style.bottom = 0 + "px";
            dd = true;
        }
        else{
            document.getElementsByClassName('ingredients-container')[0].style.bottom = "-500px"
            dd = false;
        }
    })

    document.getElementById("ingredients_x").addEventListener('click',function (){
        if(!dd){
            document.getElementsByClassName('ingredients-container')[0].style.bottom = 0 + "px";
            dd = true;
        }
        else{
            document.getElementsByClassName('ingredients-container')[0].style.bottom = "-500px"
            dd = false;
        }
    })

</script>

{% endblock %}
