{% extends 'accounts/main.html' %}


{% block content %}
<header>

    <div style="background-image: url('static/assets/dashboard-BG.jpg')" class="background"></div>
    <div class="dashboard_searchbar">
        <div class="searchbar_textfeld">search restaurant...</div>
        <div class="search_button">
            <img id="lupe" src="static/assets/Lupe.png" alt="search">
        </div>

    </div>

</header>

<main>
<!-- food suggestions -->

    <div class="food_suggestion">
        <img class="suggestion_img" src="static/assets/food_example1.jpg" alt="food 1">
        <div class="suggestion_title">Food Suggestion 1</div>
        <div class="suggestion_text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</div>
    </div>

    <div class="food_suggestion">
        <img class="suggestion_img" src="static/assets/food_example2.jpg" alt="food 1">
        <div class="suggestion_title">Food Suggestion 2</div>
        <div class="suggestion_text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</div>
    </div>

    <div class="food_suggestion">
        <img class="suggestion_img" src="static/assets/food_example1.jpg" alt="food 1">
        <div class="suggestion_title">Food Suggestion 3</div>
        <div class="suggestion_text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</div>
    </div>

<!-- best restaurants -->

    <div id="best_restaurants">
        <img id="best_restaurants_img" src="static/assets/best_restaurants.jpg" alt="food 1">
        <div id="best_restaurants_button">beste restaurants</div>
    </div>

<!-- comments -->

    <h1 class="dashboard_comment_h1">Kommentare</h1>

    <div class="dashboard_comment">
        <div class="comment_profilepic">
            <img class="profilepic" src="static/assets/PO_Icon_White_BG.png" alt="Profilbild">
        </div>
        <div class="comment_username">username</div>
        <div class="comment_time">vor 1 min</div>
        <div class="comment_title">Überschrift</div>
        <div class="comment_text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</div>
    </div>

    <div class="dashboard_comment">
        <div class="comment_profilepic">
            <img class="profilepic" src="static/assets/PO_Icon_White_BG.png" alt="Profilbild">
        </div>
        <div class="comment_username">username</div>
        <div class="comment_time">vor 1 min</div>
        <div class="comment_title">Überschrift</div>
        <div class="comment_text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</div>
    </div>

    <div class="dashboard_comment">
        <div class="comment_profilepic">
            <img class="profilepic" src="static/assets/PO_Icon_White_BG.png" alt="Profilbild">
        </div>
        <div class="comment_username">username</div>
        <div class="comment_time">vor 1 min</div>
        <div class="comment_title">Überschrift</div>
        <div class="comment_text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</div>
    </div>

</main>



{% endblock %}

