{% extends 'accounts/main.html' %}
{% load static %}


{% block content %}
<div id="home_wrapper">

        <div id="main_row1">
            <div class="main_searchbar">

                <form method="get">
                    {{homeFilter.form}}
                    <!--<button class="btn btn-primary" type="submit">search</button>-->
                    <button class="search_button" type=""submit">
                <img id="lupe" src="{% static 'assets/Lupe.png' %}" alt="search">
            </button>
                </form>
        </div>
        </div>


        <div id="main_row2">
            {% for i in articles %}
            <div class="food_suggestion">
                <img class="suggestion_img" src="{{i.banner.url}}" alt="food suggestion">
                <div class="suggestion_title">{{i.headline}}</div>
                <div class="suggestion_text">{{i.subtitle}}</div>
            </div>
            {% endfor %}
            <div id="all_articles"><a href="{% url 'articles' %}"><p>view all articles</p></a></div>
        </div>


        <div id="main_row3">
            <img id="best_restaurants_img" src="{% static 'assets/best_restaurants.jpg' %}" alt="best restaurants">
            <div id="best_restaurants_button">beste restaurants</div>
        </div>


        <div id="main_row4">
                        <h1 class="dashboard_comment_h1">Kommentare</h1>

            {% for comment in comments %}
            <div class="dashboard_comment">
                <div class="comment_profilepic">
                    <img class="profilepic" src="{% static 'assets/PO_Icon_White_BG.png' %}" alt="Profilbild">
                </div>
                <div class="comment_username">{{ comment.account.username }}</div>
                <div class="comment_time">{{ comment.date_created }}</div>
                <div class="comment_title">{{ comment.headline }}</div>
                <div class="comment_text">{{ comment.content }}</div>
            </div>
            {% endfor %}

        </div>


</div>


{% endblock %}

