{% extends 'accounts/main.html' %}
{% load static %}


{% block content %}
<div id="home_wrapper">

        <div id="main_row1">
            <div class="main_searchbar">

                <form method="get" class="main_searchbar_textfeld">
                    {{homeFilter.form}}
                </form>

                <button class="search_button" type="submit">
                        <img id="lupe" src="{% static 'assets/Lupe.png' %}" alt="search">
                </button>


            </div>
        </div>


        <div id="main_row2">
            <div class="article_flex">
            {% for i in articles %}
            <div class="food_suggestion">
                <div class="effect-1"></div>
                <div class="effect-2"></div>
                <div class="suggestion_background">
                    <a href="{% url 'article_detail' pk=i.pk %}">
                        <img class="suggestion_img" src="{{i.banner.url}}" alt="food suggestion">
                        <div class="suggestion_title">{{i.headline}}</div>
                        <div class="suggestion_text">{{i.subtitle}}</div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
            <button id="all_articles">
                <a href="{% url 'articles' %}" style="text-decoration:none; color:black">alle Artikel ansehen</a>
            </button>
        </div>


        <div id="main_row3">
            <img id="best_restaurants_img" src="{% static 'assets/best_restaurants.jpg' %}" alt="best restaurants">
            <button id="best_restaurants_button" type="submit">Beste Restaurants</button>
        </div>


        <div id="main_row4">
                        <h1 class="dashboard_comment_h1">Kommentare</h1>

            <!--
            {% for comment in comments %}
            <div class="dashboard_comment">
                <div class="comment_profilepic">
                    {% if comment.account.profile_picture %}
                        <img class="profilepic" src="{{comment.account.profile_picture.url}}" alt="Profilbild">
                    {% else %}
                        <img class="profilepic" src="{% static 'assets/PO_Icon_White_BG.png' %}" alt="Profilbild">
                    {% endif %}
                </div>
                <div class="comment_username">{{ comment.account.username }}</div>
                <div class="comment_time">{{ comment.date_created }}</div>
                <div class="comment_text">{{ comment.content }}</div>
            </div>
            {% endfor %}
           -->

            {% for comment in comments reversed %}
            {% if forloop.counter <= 3 %}

            {% include 'accounts/snippets/comment_template.html' %}

            {% endif %}

            {% endfor %}



        </div>




</div>


{% endblock %}

