{% extends 'accounts/main.html' %}
{% load static %}


{% block content %}
<div id="home_wrapper">

        <div id="main_row1">
            <div class="main_searchbar">

                <form method="GET" class="main_searchbar_textfield" action="{% url 'restaurants' %}">
                    <button class="search_button" onclick="nameFilter">
                        <img id="lupe" src="{% static 'assets/Lupe.png' %}" alt="search">
                    </button>
                    <input name="search" id="main_restaurantsFilter" type="text" placeholder="Suche nach einem Restaurant">
                </form>



            </div>
        </div>


        <div id="main_row2">
            <div class="article_flex">
            {% for i in articles %}
            <div class="food_suggestion">
                <div class="suggestion_background">
                    <a href="{% url 'article_detail' pk=i.pk %}">
                        <img class="suggestion_img" src="{{i.banner.url}}" alt="food suggestion">
                        <div class="suggestion_title">{{i.headline}}</div>
                        <div class="suggestion_text">{{i.subtitle}}</div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
            <a href="{% url 'articles' %}" style="text-decoration:none; color:black">
            <button id="all_articles">
                alle Artikel ansehen
            </button>
                </a>
        </div>


        <div id="main_row3">
            <img id="best_restaurants_img" src="{% static 'assets/best_restaurants.jpg' %}" alt="best restaurants">
            <form action="{% url 'restaurants' 5 %}">
                <button id="best_restaurants_button" type="submit">Beste Restaurants</button>
            </form>

        </div>


        <div id="main_row4">

            <h1 class="dashboard_comment_h1">Neueste Kommentare</h1>

            {% for comment in comments reversed %}
            {% if forloop.counter <= 3 %}

            {% include 'accounts/snippets/comment_template.html' %}

            {% endif %}

            {% endfor %}



        </div>

</div>


{% endblock %}

