{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}

	<div class="login-container">
		<div class="login-panel-container">
		<h3 id="form-title">LOGIN</h3>
			<form method="POST" action="">
				{% csrf_token %}
				<div class="input-group">
					<div class="input-group-append">
						<span class="input-group-text"><i class="fas fa-user"></i></span>
						<input class="login-data-input" type="text" name="username" placeholder="email..." class="form-control">
					</div>
				</div>
				<div class="input-group">
					<div class="input-group-append">
						<span class="input-group-text"><i class="fas fa-key"></i></span>
						<input class="login-data-input" type="password" name="password" placeholder="Password..." class="form-control" >
					</div>
				</div>
				<input class="login_btn" type="submit" value="Login">
			</form>

		{% for message in messages %}
		<div id="messages">
			<p>{{message}}</p>
		</div>
		{% endfor %}

		<div class="missing-account-container">
			Don't have an account? <a href="/register" class="ml-2">Sign Up</a>
		</div>
		</div>

	</div>
{% endblock %}