{% extends 'accounts/main.html' %}
{% load static %}

{% block content %}


 <div id="mapid" style="width:100%; height:800px"></div>

{% for i in restaurants %}
<p class="restaurantName">{{i.name}}</p>
<p class="restaurantAdresse">{{i.address }}  {{i.houseNumber}}</p>
<p class="restaurantLatitude">{{i.latitude}}</p>
<p class="restaurantLongitude">{{i.longitude}}</p>

<!--
<p>{{i.point}}</p>
<p class="restaurantPunkte">{{i.lat_lng}}</p>
-->
{% endfor %}

<script>
  var mymap = L.map('mapid').setView([48.35, 10.89779], 13);

	L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		maxZoom: 18,
		id: 'mapbox/streets-v11',
		tileSize: 512,
		zoomOffset: -1
	}).addTo(mymap);


//	var marker = L.marker([48.3820324, 10.872883]).addTo(mymap);
//	marker.bindPopup("<b>Anne's Gourmetküche</b><br>Sallingerstraße 6").openPopup()
/*
           let restaurantN = document.getElementsByClassName("restaurantName");
           let restaurantA = document.getElementsByClassName("restaurantAdresse")
            let restaurantP = document.getElementsByClassName("restaurantPunkte");

         for (let i = 0; i < restaurantP.length; i++) {
                var x = restaurantP[i].innerHTML.split(",");
                x[0] = x[0].substr(1);
                x[1] = x[1].substring(1, x[1].length-1);

                console.log(x[0]);
                console.log(x[1]);

                var marker = L.marker([x[0], x[1]]).addTo(mymap);
                marker.bindPopup(restaurantN[i].innerHTML + "<br>" + restaurantA[i].innerHTML).openPopup();
        }
*/

  let restaurantN = document.getElementsByClassName("restaurantName");
  let restaurantA = document.getElementsByClassName("restaurantAdresse")
  let restaurantLat = document.getElementsByClassName("restaurantLatitude");
  let restaurantLong = document.getElementsByClassName("restaurantLongitude");

  for (let i = 0; i <= restaurantN.length; i++) {
      var marker = L.marker([restaurantLat[i].innerHTML, restaurantLong[i].innerHTML]).addTo(mymap);
      marker.bindPopup(restaurantN[i].innerHTML + "<br>" + restaurantA[i].innerHTML).openPopup();
  }

</script>


{% endblock %}

