{% load static %}

<nav>
    <div id="myNavbar">
      <ul class="navbar-nav">
        <li class="active"><a href="#">Dashboard</a></li>
        <li><a href="#">home</a></li>
        <li><a href="#">restaurants</a></li>
        <li><a href="#">about</a></li>
      </ul>
      <ul class="navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
</nav>