{% load static %}

<nav class="">
    <div class="nav-logo">
        <img id="icon" src="http://127.0.0.1:8000/static/assets/PO_Icon_Green.png" alt="logo">
    </div>
      <ul>
        <li class="nav-reiter"><a href="http://127.0.0.1:8000/">home</a></li>
        <li class="nav-reiter"><a href="http://127.0.0.1:8000/restaurants/#">restaurants</a></li>
        <li class="nav-reiter"><a href="#">about</a></li>

          <li id="nav-account_img"><a href="#">

          </a></li>
          <li class="nav-account"><a href="#">login</a></li>
          <li class="nav-account"><a href="#">sign up</a></li>


      </ul>
</nav>