{% load static %}

<nav class="navbar">
    <input type="image" id="nav_profile_pic" src="{{user.profile_picture.url}}" onclick='myFunction()' class="dropbtn">
    <div class="nav-logo">
        <a  href="{% url 'home' %}"><img id="icon" src="{% static 'assets/PO_Logo_Wide.svg' %}"  href="{% url 'home' %}" alt="logo"></a>
    </div>

    <div id="navbar_reiter">
        <a href="{% url 'home' %}">Start</a>

        <a href="{% url 'restaurants' %}">Restaurants</a>

        <a href="{% url 'about' %}">Über uns</a>

        <!--<a href="{% url 'social' %}">social</a>
        -->
    </div>

    <div id="nav_dropdown"></div>

    <div id="nav_dropdown_side">

        <div id="nav_drop_reiter">

        <a href="{% url 'home' %}">Start</a>

        <a href="{% url 'restaurants' %}">Restaurants</a>

        <a href="{% url 'about' %}">Über uns</a>

        <!--<a href="{% url 'social' %}">social</a>
        -->
         </div>
    </div>

    <script>
        let open_dropdown = false;
        document.getElementById("nav_dropdown").addEventListener("click", function(){
            console.log(open_dropdown);
            if(open_dropdown == false){
                document.getElementById("nav_dropdown_side").style.borderRight = "1px solid lightgrey";
                document.getElementById("nav_dropdown_side").style.width = "300px";
                open_dropdown = true;
            }
            else{
                document.getElementById("nav_dropdown_side").style.width = "0px";
                 setTimeout(dropdown_out, 500);
                open_dropdown = false;
            }
        })

        function dropdown_out(){
            document.getElementById("nav_dropdown_side").style.border = "none";
        }

    </script>

</nav>

