{% extends 'accounts/main.html' %}
{% load static %}

{% block content %}

<div id="user_banner"></div>
<div id="user_header">
{% if user.profile_picture %}
    <img src="{{user.profile_picture.url}}">
{% else %}
    <img id="rd_profile_image" src="{% static 'assets/dashboard-BG.jpg' %}">
{% endif %}
    <p id="rd_name">{{user.username}}</p>
    <!--
     Friends Button
     -->
    <a href="#">
        <div class="friend_list_icon_container">
            <span class="friend_text">Friends ({{friends|length}})</span>
        </div>
    </a>
    {% csrf_token %}
    <!--
    Friend requests
    -->
    {% if request.user.is_authenticated %}
    {% if is_friend == False and is_self == False %}
    {% if request_sent == 1%}
    <button id="cancel_friend_request_btn">
        Cancel
    </button>
    {% endif %}
    {% if request_sent == 0 %}
    <span>
        <button id="decline_friend_request_btn">
            Decline
        </button>
        <button id="accept_friend_request_btn">
            Accept
        </button>
    </span>
    {% endif %}
    {% if request_sent == -1 %}
    <button id="send_friend_request_btn">
        Add Friend
    </button>
    {% endif %}
    {% else %}
    <button id="unfriend_friend_request_btn">
        Unfriend
    </button>
    {% endif %}
    {% endif %}
</div>



<div id="user_body">
    <div id="user_body_header">
        <p>{{user.email}}</p>
        <p>{{user.first_name}}</p>
        <p>{{user.last_name}}</p>
        {% if user.biography is not None %}
            <p>{{user.biography}}</p>
        {% endif %}
        <p id="userId" style="display: none">{{user.id}}</p>
    </div>
</div>

{% include 'accounts/snippets/send_friend_request.html' %}

<script>

    function onFriendRequestSent(){
        location.reload();
    }

    var userId = document.getElementById("userId")
    var sendFriendRequestBtn = document.getElementById("send_friend_request_btn")
    if (sendFriendRequestBtn != null){
        sendFriendRequestBtn.addEventListener("click", function(){
            sendFriendRequest(userId, onFriendRequestSent)
        })
    }

</script>

{% endblock %}


