{% extends 'accounts/main_registration_login.html' %}

{% load static %}

{% block content %}
<div id="signIn-background"></div>
<div id="signIn_icon"><img src="{% static 'assets/PO_Icon_White.svg' %}"></div>
	<div class="signIn-container">
		<div class="signIn-panel-container">
		<h3 id="form-title">REGISTRIEREN</h3>
			<form method="POST">

                {% csrf_token %}

                {% for field in registration_form %}

                <div class="signIn-input-group">
                    <div class="signInput-group-append">
                    {{field}}

                    {% for error in field.errors %}

                    <p>{{error}}</p>

                    {% endfor %}
                    </div>
				</div>

                {% endfor %}

				<input class="signIn_btn" type="submit" name="Create User">
			</form>
		</div>
    </div>
</div>


<script type="text/javascript">
        $(document).ready(function() {
             window.onload = function() {
             $("#id_first_name").focus();
             // alert('test') if I add this line its works
             //  setting focus to a textbox which added to template page direcltly using html tag the focus() method works well
            };
        });
</script>

{% endblock %}