{% extends 'accounts/main.html' %}
{% load static %}

{% block content %}

<div id="rd_banner"></div>
<div id="rd_tags">
    {% for k in queryset.tags.all %}
    <p >{{k}}</p>
    {% endfor %}
</div>
<div id="rd_header">
{% ifequal i.restaurant_picture None %}
    <img id="rd_profile_image" src="{% static 'assets/dashboard-BG.jpg' %}">
{% else %}
    <img src="{{queryset.restaurant_picture.url}}">
{% endifequal %}
<p id="rd_name">{{queryset.name}}</p>
    <div id="rd_rating">
        <p>{{queryset.rating}}</p>
    </div>
</div>



<div id="rd_body">
    <div id="rd_body_header">
        <p id="rd_food_drinks">Food/Drinks</p>
        <p>Opening Hours</p>
        <p>Location</p>
        <p id="rd_contact">Contact</p>
    </div>
    <div id="rd_foods">
       <div id="rd_foods_head">
           <p id="rd_vegetarisch">?vegetarisch</p>
           <p id="rd_vegan">?vegan</p>

           <input type="text" placeholder="suche Gericht" id="rd_food_searchbar">

           <div id="rd_foods_tags">
                {% for j in foods %}
                    {% if j.restaurant == queryset %}
                        {% for l in j.tags.all %}
                            <p class="rd_food_tag">{{l}}</p>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
           </div>

       </div>

        <div id="rd_foods_body">

            <div class="rd_dishes">
                {% for j in foods %}
                {% if j.restaurant == queryset %}

                 <p class="rd_food_category">{{j.category}}</p>

                {% endif %}
                {% endfor %}
            </div>


                {% for j in foods %}
                    {% if j.restaurant == queryset %}
            <div class="rd_food_block">
                <p class="rd_block_name">{{j.name}}</p>
                <p class="rd_block_description">{{j.description}}</p>
                <p class="rd_block_price">{{j.price}}€</p>
             </div>
                    {% endif %}
                {% endfor %}

        </div>

    </div>
</div>

<div id="rd_comments">
<h2>Comments</h2>

{% for comments in comment.all %}
    {% if comments.restaurant == queryset %}

    <div>
        <h3>{{comments.content}}</h3>
    </div>

    {% endif %}
{% endfor %}

{% for comment in comments.all %}
    {% if comment.restaurant.name == queryset.name %}
        {{ comment.account.username }}
        {{ comment.content }}
        {{ comment.date_created }}
    {% endif %}
{% endfor %}

<h2>Add Comment</h2>

{% if user.is_authenticated %}

<div class="post-comment-section">
    <form method="POST">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <input type="submit" value="Submit" class="btn btn-outline-success">
    </form>
</div>

{% else %}

<p>you must be loged in to add a comment</p>

{% endif %}
    </div>

<script>

    let vegan = false;
    let vegetarisch = false;

    for (let i = 0; i < document.getElementsByClassName('rd_dishes').length; i++){
        let elements = document.getElementsByClassName('rd_dishes');
        let category = elements[i].getElementsByClassName('rd_food_category');
        let vegetarian_counter = 0;
        let vegan_counter = 0;
        for (let j = 0; j < category.length; j++){
            if(category[j].innerHTML == 'Vegan') {
               vegan_counter++;
            }
            else {
               vegetarian_counter++;
                }
            }
        document.getElementById('rd_vegetarisch').innerHTML= vegetarian_counter + ' Vegetarisch';
        document.getElementById('rd_vegan').innerHTML= vegan_counter + ' Vegan';
        document.getElementById('rd_vegan').style.userSelect = "none";
        document.getElementById('rd_vegetarisch').style.userSelect = "none";
    }

    function render_vegan(){
        var element = document.getElementById("rd_vegan");

        element.addEventListener("mouseover",  function(){ if(!vegan){this.style.backgroundColor = "#378C61"}});
        element.addEventListener("mouseover",  function(){ if(!vegan){this.style.borderColor = "#378C61"}});
        element.addEventListener("mouseleave",  function(){ if(!vegan){this.style.backgroundColor = "transparent";}});
        element.addEventListener("mouseleave",  function(){ if(!vegan){this.style.borderColor = "lightgrey"}});

         element.addEventListener('click', function (){

            if(!vegan) {
                this.style.backgroundColor = "#378C61";
                this.style.borderColor = "#378C61";
                vegan = true;

            }
            else{
                vegan = false;
                this.style.backgroundColor = "transparent";
                this.style.borderColor = "lightgrey";
            }
         })
    }

    function render_vegetarisch(){
        var element = document.getElementById("rd_vegetarisch");

        element.addEventListener("mouseover",  function(){ if(!vegetarisch){this.style.backgroundColor = "#70af6b"}});
        element.addEventListener("mouseover",  function(){ if(!vegetarisch){this.style.borderColor = "#70af6b"}});
        element.addEventListener("mouseleave",  function(){ if(!vegetarisch){this.style.backgroundColor = "transparent";}});
        element.addEventListener("mouseleave",  function(){ if(!vegetarisch){this.style.borderColor = "lightgrey"}});

        element.addEventListener('click', function (){

            if(!vegetarisch) {
                this.style.backgroundColor = "rgb(112,175,107)";
                this.style.borderColor = "rgb(112,175,107)";
                vegetarisch = true;

            }
            else{
                vegetarisch = false;
                this.style.backgroundColor = "transparent";
                this.style.borderColor = "lightgrey";
            }
        })
    }

    function render_food_tags(){
        let elements = document.getElementsByClassName("rd_food_tag");
        for (let i=0; i < elements.length; i++){
            for (let j=0; j < elements.length; j++){
                if(elements[i].innerHTML == elements[j].innerHTML && i != j){
                    elements[j].style.display = "none";
                    elements[j].innerHTML = " "
                }
            }
        }
    }

    for (let i=0; i<document.getElementsByClassName("rd_food_tag").length ; i++) {



        document.getElementsByClassName("rd_food_tag")[i].addEventListener('click', function () {

            console.log(this.style.backgroundColor);

            if (this.style.backgroundColor != "rgb(112, 175, 107)") {
                this.style.backgroundColor = "#70af6b";
                this.style.color = "white";
            }

            else {
                this.style.backgroundColor = "transparent";
                this.style.color = "darkgrey";
            }
        })
    }


    function stars(elements) {

        let SternArray = new Array(5);

        let TextInsideP = elements.getElementsByTagName('p')[0].innerHTML;
        console.log(TextInsideP);
        if (TextInsideP == 0.0) {
            SternArray = [0, 0, 0, 0, 0];
        }
        if (TextInsideP == 1.0) {
            SternArray = [1, 0, 0, 0, 0];
        }
        if (TextInsideP == 2.0) {
            SternArray = [1, 1, 0, 0, 0];
        }
        if (TextInsideP == 3.0) {
            SternArray = [1, 1, 1, 0, 0];
        }
        if (TextInsideP == 4.0) {
            SternArray = [1, 1, 1, 1, 0];
        }
        if (TextInsideP == 5.0) {
            SternArray = [1, 1, 1, 1, 1];
        }

        for (let i = 0; i < SternArray.length; i++) {

            let element = document.createElement("img");

            if (SternArray[i] == 1) {
                element.setAttribute('src', "{% static 'assets/stern.png' %}");
            }

            if (SternArray[i] == 0) {
                element.setAttribute('src', "{% static 'assets/stern_leer.png' %}");
            }

            element.id = 'i';
            element.className = "stars_class";

            elements.appendChild(element);
        }
    }

    stars(document.getElementById("rd_rating"));
    render_vegan();
    render_vegetarisch();
    render_food_tags();

</script>

{% endblock %}