{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}

    <div id="restaurants_wrapper">



        <div id="restaurants_header">
            <div id="restaurants_searchbarIcon"></div>
            <div id="restaurants_searchbar"></div>
         </div>

        <div id="restaurants_body">
            <div id="restaurants_Adresseingabe_Headline_underline">
              <!--  <input type="text" placeholder="Adresse, i.e. Bahnhofsstraße 1"> -->
                <p id="restaurants_Adresseingabe_Headline">Adresse, i.e. Bahnhofsstraße 1</p>
            </div>
            <div id="restaurants_body_content">
                {% for i in restaurants %}

    <div class="restaurants_block">
    <div class="restaurants_img">
        {% ifequal i.restaurant_picture None %}
        <img src="{% static 'assets/dashboard-BG.jpg' %}">
        {% else %}
             <img src="{{i.restaurant_picture.url}}">
        {% endifequal %}

    </div>
    <div class="restaurants_name">
        <p><a class="restaurants_name_link" href="{% url 'restaurant_detail' pk=i.pk %}">{{i.name}}</a></p>
    </div>
    <div class="restaurants_rating" >

        <p>{{i.rating}}</p>
    </div>
    <div class="restaurants_tags">
        <p>
            {% for k in i.tags.all%}
                {% if forloop.counter <= 2 and forloop.last is not True%}
                    {{k}},
                {% else %}
                    {% if forloop.counter <= 3%}
                        {{k}}
                    {% endif %}
                {% endif %}
            {% endfor %}
        <p>

    </div>

    <div class="restaurants_adresse">
   <!-- <img src="{% static 'assets/PO_Icon_Green_Fill.png' %}"> -->
    <p class="restaurants_adresse_adresse">{{i.location}}</p>
    <p class="restaurants_adresse_entfernung">?km entfernt</p>
    </div>

    <div class="restaurants_anzahl_vegetarisch">

        <p>? Vegetarisch</p>

    </div>
    <div class="restaurants_anzahl_vegan">

        <p>? Vegan</p>

    </div>

        <div class="restaurants_dishes">
            {% for j in foods %}
            {% if j.restaurant == i %}
            <p class="restaurants_food_category">{{j.category}}</p>
            <div class="restaurants_food">
                <div class="restaurants_category_mark"></div>
                <div class="restaurants_food_name">
                    <p>{{j.name}}</p>
                </div>
                 <div class="restaurants_food_rating">
                    <p>{{j.rating}}</p>
                </div>
                <div class="restaurants_food_price">
                    <p>{{j.price}}€</p>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="restaurants_vegetarische_Optionen"></div>
    </div>


{% endfor %}
        </div>
        </div>

        <div id="restaurants_aside_left">
            <div id="restaurants_filter">
                <form method="get">
                    {{myFilter.form}}
                    <div id="restaurants_stars">
                    </div>
                    <p id="restaurants_rating_reset" onclick="document.getElementById('id_rating').value = ' '; changeStars()" >reset</p>
                    <div id="restaurants_set_affordability">
                    <div class="restaurants_set_affordability_elements">
                        <p>€</p>
                    </div>
                    <div class="restaurants_set_affordability_elements">
                        <p>€€</p>
                    </div>
                    <div class="restaurants_set_affordability_elements">
                        <p>€€€</p>
                    </div>
                </div>
                    <button class="btn btn-primary" type="submit">search</button>
                </form>
                    <a id="restaurants_filter_reset" href="http://127.0.0.1:8000/restaurants/">Filter zurücksetzen</a>


            </div>

        </div>

        <a id="restaurants_aside_right" href="{% url 'map' %}">
        </a>
        <div id="restaurants_aside_right_bottom" >

            <div id="restaurants_aside_right_bottom_text">
            <p id="restaurants_map_name">Restaurant Name</p>
                 <img src="{% static 'assets/PO_Icon_Green_Fill.png' %}">
            <p id="restaurants_map_adresse">Beispielstraße 3, 86163 Augsburg</p>
            <p id="restaurants_map_entfernung">? km Entfernt</p>
            </div>
        </div>

    </div>

    <div id="restaurants_bottom">
        <div id="restaurants_open_filter">
            <img src="{% static 'assets/filter.svg' %}">
        </div>
    </div>


  <div id="restaurants_background"> </div>



     <button onclick="topFunction()" id="myBtn" title="Go to top"><img src="{% static 'assets/up.svg' %}"></button>





<script>

    let vegetarisch = false;
    let vegan = false;
    let filteropen = false;

    function reportWindowSize() {
        if(window.innerWidth > 819){
            filteropen = false;
            document.getElementById("restaurants_aside_left").style.display= "block";
            document.getElementsByClassName("navbar").item(0).style.display = "block";
            document.getElementById("restaurants_wrapper").style.height = " ";
             document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
            document.getElementById("restaurants_body_content").style.height = "calc(100vh - 110px)"
        }
        if(filteropen==false && window.innerWidth<820){
            document.getElementById("restaurants_aside_left").style.display= "none";
        }

    }

window.onresize = reportWindowSize;

    document.getElementById("restaurants_open_filter").addEventListener('click',function (){

        let filter = document.getElementById("restaurants_aside_left");

        if(!filteropen) {

            document.getElementById("restaurants_wrapper").style.height = "10vh";
            filter.style.display = "block";
            document.getElementsByClassName("navbar").item(0).style.display = "none";
            document.body.scrollTop = 55; // For Safari
            document.documentElement.scrollTop = 55; // For Chrome, Firefox, IE and Opera
        }
        else{
            filter.style.display = "none";

            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
            document.getElementsByClassName("navbar").item(0).style.display = "block";
            document.getElementById("restaurants_wrapper").style.height = " ";

        }
        filteropen = !filteropen;
    })

     function render_map_text() {
         let restaurant_blocks = document.getElementsByClassName("restaurants_block");
         for (let i = 0; i < restaurant_blocks.length; i++) {
            restaurant_blocks[i].addEventListener('mouseover', function (){
                document.getElementById("restaurants_aside_right_bottom_text").style.display = "block";
                document.getElementById("restaurants_map_name").innerHTML =  document.getElementsByClassName("restaurants_name_link")[i].innerHTML;
                document.getElementById("restaurants_map_adresse").innerHTML =  document.getElementsByClassName("restaurants_adresse_adresse")[i].innerHTML;
                document.getElementById("restaurants_map_entfernung").innerHTML =  document.getElementsByClassName("restaurants_adresse_entfernung")[i].innerHTML;
            })
        }
    }

    function render_affordability_tags() {
        let affordability_tags = document.getElementsByClassName("restaurants_set_affordability_elements");
        for (let i = 0; i < affordability_tags.length; i++) {

            if (document.getElementById("id_affordability").value == i + 1) {
                document.getElementsByClassName("restaurants_set_affordability_elements")[i].style.borderColor = "rgb(112,175,107)";
                document.getElementsByClassName("restaurants_set_affordability_elements")[i].style.color = "rgb(112,175,107)";
            }

            affordability_tags[i].addEventListener('mouseover', function () {
                this.style.borderColor = "rgb(112,175,107)";
            })
            affordability_tags[i].addEventListener('mouseleave', function () {
                if (this.style.color != "rgb(112, 175, 107)") {
                    this.style.borderColor = "lightgrey";
                }
            })
            affordability_tags[i].addEventListener('click', function () {
                if (this.style.color != "rgb(112, 175, 107)") {
                    document.getElementById("id_affordability").value = i + 1;
                    this.style.borderColor = "rgb(112,175,107)";
                    this.style.color = "rgb(112,175,107)";
                    for (let j = 0; j < affordability_tags.length; j++) {
                        if (j != i) {
                            document.getElementsByClassName("restaurants_set_affordability_elements")[j].style.borderColor = "lightgrey";
                            document.getElementsByClassName("restaurants_set_affordability_elements")[j].style.color = "darkgrey";
                        }
                    }
                } else {
                    this.style.borderColor = "lightgrey";
                    this.style.color = "darkgrey";
                    document.getElementById("id_affordability").value = " ";
                }
            })
        }
    }

    function render_food(number){
        let elements = document.getElementsByClassName('restaurants_dishes');
        let category = elements[number].getElementsByClassName('restaurants_food_category');
        for (let i = 0; i < category.length; i++){
            if(category[i].innerHTML == 'Vegan') {
                if (!vegan) {
                    elements[number].getElementsByClassName('restaurants_food')[i].style.display = "none";
                } else {
                    elements[number].getElementsByClassName('restaurants_food')[i].style.display = "block";
                    elements[number].getElementsByClassName('restaurants_category_mark')[i].style.backgroundColor = "#378C61";
                }
            }
            else {
                if (!vegetarisch) {
                    elements[number].getElementsByClassName('restaurants_food')[i].style.display = "none";
                } else {
                    elements[number].getElementsByClassName('restaurants_food')[i].style.display = "block";
                    elements[number].getElementsByClassName('restaurants_category_mark')[i].style.backgroundColor = "rgb(112,175,107)";
                }
            }
        }
    }

    for (let i = 0; i < document.getElementsByClassName('restaurants_dishes').length; i++){
        let elements = document.getElementsByClassName('restaurants_dishes');
        let category = elements[i].getElementsByClassName('restaurants_food_category');
        let vegetarian_counter = 0;
        let vegan_counter = 0;
        for (let j = 0; j < category.length; j++){
            if(category[j].innerHTML == 'Vegan') {
               vegan_counter++;
            }
            else {
               vegetarian_counter++;
                }
            }
        document.getElementsByClassName('restaurants_anzahl_vegetarisch')[i].innerHTML= vegetarian_counter + ' Vegetarisch';
        document.getElementsByClassName('restaurants_anzahl_vegan')[i].innerHTML= vegan_counter + ' Vegan';
        //document.getElementsByClassName('restaurants_anzahl_vegetarisch')[i].style.padding = "2px";
        //document.getElementsByClassName('restaurants_anzahl_vegan')[i].style.padding = "2px";
        document.getElementsByClassName('restaurants_anzahl_vegetarisch')[i].style.userSelect = "none";
        document.getElementsByClassName('restaurants_anzahl_vegan')[i].style.userSelect = "none";
    }

    function vegetarischDropdown() {
        var elements = document.getElementsByClassName("restaurants_anzahl_vegetarisch");
        for (let i = 0; i < elements.length; i++) {

        elements[i].addEventListener("mouseover",  function(){ if(!vegetarisch){this.style.backgroundColor = "rgb(112,175,107)"}});
        elements[i].addEventListener("mouseover",  function(){ if(!vegetarisch){this.style.borderColor = "rgb(112,175,107)"}});
        elements[i].addEventListener("mouseleave",  function(){ if(!vegetarisch){this.style.backgroundColor = "transparent";}});
        elements[i].addEventListener("mouseleave",  function(){ if(!vegetarisch){this.style.borderColor = "lightgrey"}});

        elements[i].addEventListener('click', function (){
            if(!vegetarisch) {
                document.getElementsByClassName("restaurants_dishes")[i].style.display = "block";
                this.style.backgroundColor = "rgb(112,175,107)";
                this.style.borderColor = "rgb(112,175,107)";
                vegetarisch = true;
            }
            else{
                if(!vegan) {
                    document.getElementsByClassName("restaurants_dishes")[i].style.display = "none";
                }
                vegetarisch = false;
                this.style.backgroundColor = "transparent";
                this.style.borderColor = "lightgrey";
            }
              render_food(i);
        })
        }
    }

    function veganDropdown() {
        var elements = document.getElementsByClassName("restaurants_anzahl_vegan");
        for (let i = 0; i < elements.length; i++) {

        elements[i].addEventListener("mouseover",  function(){ if(!vegan){this.style.backgroundColor = "#378C61"}});
        elements[i].addEventListener("mouseover",  function(){ if(!vegan){this.style.borderColor = "#378C61"}});
        elements[i].addEventListener("mouseleave",  function(){ if(!vegan){this.style.backgroundColor = "transparent";}});
        elements[i].addEventListener("mouseleave",  function(){ if(!vegan){this.style.borderColor = "lightgrey"}});

        elements[i].addEventListener('click', function (){
            if(!vegan) {
                document.getElementsByClassName("restaurants_dishes")[i].style.display = "block";
                this.style.backgroundColor = "#378C61";
                this.style.borderColor = "#378C61";
                vegan = true;

            }
            else{
                if(!vegetarisch) {
                    document.getElementsByClassName("restaurants_dishes")[i].style.display = "none";
                }
                vegan = false;
                this.style.backgroundColor = "transparent";
                this.style.borderColor = "lightgrey";
            }
              render_food(i);
        })
        }
    }



    vegetarischDropdown();
    veganDropdown()
    render_affordability_tags();
    render_map_text();

    let searchbarMinusWidth=30;

   function adaptSize(ele1, ele2, minusWidth , minusHeight) {
       if(typeof(minusWidth)==='undefined'){minusWidth = 0;}
        if(typeof(minusHeight)==='undefined'){minusHeight = minusWidth;}
       document.getElementById(ele1).style.width = document.getElementById(ele2).clientWidth - minusWidth + "px";
       document.getElementById(ele1).style.height = document.getElementById(ele2).clientHeight - minusHeight + "px";
   }



   adaptSize('restaurants_searchbar', 'restaurants_header', searchbarMinusWidth, 0);

   let classesNodeList = document.querySelectorAll(".restaurants_rating");
    let classes = Array.prototype.slice.call(classesNodeList).map(function(element) {
    return element.value;
});


   function stars(elements) {

    for(let j = 0; j < elements.length; j++) {


        let SternArray = new Array(5);

        let TextInsideP = elements.item(j).getElementsByTagName('p')[0].innerHTML;

        if (TextInsideP == 0.0) {
            SternArray = [0, 0, 0, 0, 0];
        }
        if (TextInsideP == 1.0) {
            SternArray = [1, 0, 0, 0, 0];
        }
        if (TextInsideP == 2.0) {
            SternArray = [1, 1, 0, 0, 0];
        }
        if (TextInsideP == 3.0) {
            SternArray = [1, 1, 1, 0, 0];
        }
        if (TextInsideP == 4.0) {
            SternArray = [1, 1, 1, 1, 0];
        }
        if (TextInsideP == 5.0) {
            SternArray = [1, 1, 1, 1, 1];
        }

        for (let i = 0; i < SternArray.length; i++) {

            let element = document.createElement("img");

            if (SternArray[i] == 1) {
                element.setAttribute('src', "{% static 'assets/stern.png' %}");
            }

            if (SternArray[i] == 0) {
                element.setAttribute('src', "{% static 'assets/stern_leer.png' %}");
            }

            element.id = 'i';
            element.className = "stars_class";

            elements.item(j).appendChild(element);
        }
    }



}

    stars(classesNodeList);
    stars(document.getElementsByClassName('restaurants_food_rating'));

    document.getElementById("id_name").setAttribute("placeholder", "Name");
    document.getElementById("id_rating").setAttribute("placeholder", "Bewertung");
    document.getElementById("id_affordability").setAttribute("placeholder", "Preisklasse");


    var option = document.getElementById('id_tags').options;
 ;
    for(let i = 0; i < option.length; i++) {
        option[i].onclick = function () {
            if (this.myselected) {
                this.selected = false;
                this.myselected = false;

            } else {
                this.myselected = true;

            }
            ;
        };
    }

    window.onmousedown = function (e) {
    var el = e.target;
    if (el.tagName.toLowerCase() == 'option' && el.parentNode.hasAttribute('multiple')) {
        e.preventDefault();

        // toggle selection
        if (el.hasAttribute('selected')) el.removeAttribute('selected');
        else el.setAttribute('selected', '');

        // hack to correct buggy behavior
        var select = el.parentNode.cloneNode(true);
        el.parentNode.parentNode.replaceChild(select, el.parentNode);
    }
}


       function starrating() {

        let SternRatingArray = new Array(5);

        let rating = 0;
      ;

        if (rating == 0.0) {
            SternRatingArray = [0, 0, 0, 0, 0];

        for (let i = 0; i < SternRatingArray.length; i++) {

            let element = document.createElement("img");

            if (SternRatingArray[i] == 1) {
                element.setAttribute('src', "{% static 'assets/stern.png' %}");
            }

            if (SternRatingArray[i] == 0) {
                element.setAttribute('src', "{% static 'assets/stern_leer.png' %}");
            }

            element.id = 'rating_i';
            element.className = "stars_rating_class";

            document.getElementById('restaurants_stars').appendChild(element);
        }
    }}



    function changeStars() {

        let stars = document.getElementsByClassName('stars_rating_class');
        let star_amount = document.getElementById("id_rating").value;

        if (document.getElementById("id_rating").value == '') {
            document.getElementById("id_rating").value = 0;
        }

        for (let k = 0; k <= document.getElementById("id_rating").value - 1; k++) {
            stars[k].setAttribute('src', "{% static 'assets/stern.png' %}");

        }
        for (let k = document.getElementById("id_rating").value; k < 5; k++) {
            stars[k].setAttribute('src', "{% static 'assets/stern_leer.png' %}");
        }

        console.log(stars);
        for (let a = 0; a < stars.length; a++) {
            stars[a].addEventListener('click', function () {
                document.getElementById("id_rating").value = a + 1;
                for (let k = 0; k <= a; k++) {
                    stars[k].setAttribute('src', "{% static 'assets/stern.png' %}");
                    star_amount = a;
                }
                for (let k = a + 1; k < 5; k++) {
                    stars[k].setAttribute('src', "{% static 'assets/stern_leer.png' %}");
                }
            })
            stars[a].addEventListener('mouseover', function () {

                for (let k = 0; k <= a; k++) {
                    stars[k].setAttribute('src', "{% static 'assets/stern.png' %}");
                }
                for (let k = a + 1; k < 5; k++) {
                    stars[k].setAttribute('src', "{% static 'assets/stern_leer.png' %}");
                }
            })
            document.getElementById('restaurants_stars').addEventListener('mouseleave', function () {
                if (document.getElementById("id_rating").value == 0) {
                    for (let k = 0; k < 5; k++) {
                        stars[k].setAttribute('src', "{% static 'assets/stern_leer.png' %}");
                    }
                } else {
                    for (let k = 0; k <= star_amount; k++) {
                        stars[k].setAttribute('src', "{% static 'assets/stern.png' %}");

                    }
                    for (let k = star_amount + 1; k < 5; k++) {
                        stars[k].setAttribute('src', "{% static 'assets/stern_leer.png' %}");
                    }
                }
            })

        }
        if (document.getElementById("id_rating").value == 0) {
            document.getElementById("id_rating").value = ' ';
        }
    }




    starrating();
    changeStars();


//    mapboxgl.accessToken = 'pk.eyJ1IjoiYW5uZWZsIiwiYSI6ImNraGdwNW4zdDA5M3cycnA2N2ZrZzlvaWsifQ.2Ax1R3zR3hTyr3CHwW73hQ';
//         var map = new mapboxgl.Map({
//            container: 'restaurants_aside_right',
  //          style: 'mapbox://styles/mapbox/streets-v11',
    //         center: [10.89779, 48.3705449],
      //      zoom: 12,
 //           bearing: 0
  //  });

    var mymap = L.map('restaurants_aside_right').setView([51.505, -0.09], 13);

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        //attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',

        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'your.mapbox.access.token'
    }).addTo(mymap);


         mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 60 && !filteropen && window.innerWidth<820 || document.documentElement.scrollTop > 20 && !filteropen && window.innerWidth<820 ) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0; // For Safari
  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}


</script>



{% endblock %}