{% extends 'accounts/main.html' %}
{% load static %}

{% block content %}

<div id="rd_banner"></div>
<div id="rd_tags">
    {% for k in queryset.tags.all %}
    <p >{{k}}</p>
    {% endfor %}
</div>
<div id="rd_header">
{% ifequal i.restaurant_picture None %}
    <img id="rd_profile_image" src="{% static 'assets/dashboard-BG.jpg' %}">
{% else %}
    <img src="{{queryset.restaurant_picture.url}}">
{% endifequal %}
<p id="rd_name">{{queryset.name}}</p>
    <div id="rd_rating">
        <p>{{queryset.getAverageRating}}</p>
    </div>
        <p>({{queryset.getAmountRating}})</p>
</div>



<div id="rd_body">
    <div id="rd_body_header">
        <p id="rd_food_drinks">Food/Drinks</p>
        <p id="rd_opening_hours">Opening Hours</p>
        <p id="rd_food_location">Location</p>
        <p id="rd_contact">Comments</p>
    </div>
    <div class="rd_options">
       <div id="rd_foods_head">
           <p id="rd_vegetarisch">?vegetarisch</p>
           <p id="rd_vegan">?vegan</p>

           <input type="text" placeholder="suche Gericht" id="rd_food_searchbar" onkeyup="searchbar()">

           <div id="rd_foods_tags" onmouseup="mouse_up()" onmousedown="mouse_down()">
               <p class="rd_food_tag">Alles</p>
                {% for j in foods %}
                    {% if j.restaurant == queryset %}
                        {% for l in j.tags.all %}
                            <p class="rd_food_tag">{{l}}</p>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
           </div>

       </div>

        <div id="rd_foods_body">

            <div class="rd_dishes">
                {% for j in foods %}
                {% if j.restaurant == queryset %}

                 <p class="rd_food_category">{{j.category}}</p>

                {% endif %}
                {% endfor %}
            </div>


                {% for j in foods %}
                    {% if j.restaurant == queryset %}
            <div class="rd_food_block">
                <p class="rd_block_name">{{j.name}}</p>
                <p class="rd_block_description">{{j.description}}</p>
                <p class="rd_block_price">{{j.price}}€</p>
             </div>
                    {% endif %}
                {% endfor %}

        </div>

    </div>
    <div class="rd_options"></div>
    <div class="rd_options"></div>
    <div class="rd_options">



    <div id="rd_comments">
        <h2>Comments</h2>

        {% for comments in comment.all %}
            {% if comments.restaurant == queryset %}

            <div>
                <h3>{{comments.content}}</h3>
            </div>

            {% endif %}
        {% endfor %}

        <div id="rd_comments_block">
        {% for comment in comments.all reversed %}
            {% if comment.restaurant.name == queryset.name %}
               <div class="rd_comment">
                <div class="rd_comment_profilepic">
                    {% if comment.account.profile_picture %}
                        <img class="rd_profilepic" src="{{comment.account.profile_picture.url}}" alt="Profilbild">
                    {% else %}
                        <img class="rd_profilepic" src="{% static 'assets/PO_Icon_White_BG.png' %}" alt="Profilbild">
                    {% endif %}
                </div>
                <div class="rd_comment_username">{{ comment.account.username }}</div>
                   <div class="rd_comment_rating">
                      <p> {{ comment.ratings }} </p>
                   </div>
                 <div class="rd_comment_time">{{ comment.date_created }}</div>
               <div class="rd_comment_text">{{ comment.content }}</div>

            </div>
            {% endif %}
        {% endfor %}
        </div>



        <h2>Add Comment</h2>

        {% if user.is_authenticated %}

        <div class="post-comment-section">
            <form method="POST">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <input type="submit" value="Submit" class="btn btn-outline-success">
            </form>
        </div>

        {% else %}

        <p>you must be loged in to add a comment</p>

        {% endif %}
    </div>

    </div>

</div>

<button onclick="topFunction()" id="myBtn" title="Go to top"><img src="{% static 'assets/up.svg' %}"></button>


<script>

    let vegan = false;
    let vegetarisch = false;
    let active= [1,0,0,0];
    let veg_list = [];
    let queryset = "{{queryset}}"
    let food_tags = [];
    let tag_list = [];
    let tag_now = "Alles";
    let request = new XMLHttpRequest()
    let mouseup = true;
    let mousex;
    let l = document.getElementById("rd_foods_tags").scrollLeft

    document.getElementsByClassName("rd_food_tag")[0].style.backgroundColor = "rgb(112,175,107)";
    document.getElementsByClassName("rd_food_tag")[0].style.color = "white";
    // Open a new connection, using the GET request on the URL endpoint
    request.open('GET', '/food_api/', true)

    function mouse_up(){

    }

    function mouse_down(){
         mouseup = false;
        l = document.getElementById("rd_foods_tags").scrollLeft;
         console.log(l);
         console.log(mouseup);
         mousex = event.clientX;
    }

    window.onmouseup = function (){
        mouseup = true;
        console.log(mouseup);
    }

    document.getElementById("rd_foods_tags").onmousemove = function(){
        if(!mouseup){
            let x = (mousex - event.clientX)
            document.getElementById("rd_foods_tags").scrollLeft = l + x;
            console.log(x);
        }
    };

    function searchbar(){
        let input, filter, ul, li, a, i, txtValue;

        input = document.getElementById('rd_food_searchbar');
        filter = input.value.toUpperCase();
        ul = document.getElementsByClassName('rd_food_block');

        // Loop through all list items, and hide those who don't match the search query
        for (i = 0; i < ul.length; i++) {
            a = ul[i].getElementsByClassName("rd_block_name")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              ul[i].style.display = "inline-block";
            } else {
              ul[i].style.display = "none";
            }
        }
    }


    request.onload = function () {
      // Begin accessing JSON data here
        var data = JSON.parse(this.response)
        let i = 0;
        let regex = /'([^']+)'/;
        data.forEach((food) => {
      // Log each movie's title

        if(food.restaurantName == queryset) {
            if (food.category == "Vegetarian") {
                veg_list[i] = true;
            } else {
                veg_list[i] = false;
            }
            tag_list[i] = food.tags;
            i++;
        }
        })

        for(let j=0; j < tag_list.length; j++){

            for (let k=0; k < tag_list[j].length; k++){
                tag_list[j][k] = JSON.stringify(tag_list[j][k]);
                let length = tag_list[j][k].length ;
                length -= 11;
                tag_list[j][k] = tag_list[j][k].substr(9,length );

            }
        }
    }
    // Send request
    request.send()

    document.getElementById("rd_food_drinks").style.backgroundColor= "#70af6b";

    /*<p id="rd_food_drinks">Food/Drinks</p>
    <p id="rd_opening_hours">Opening Hours</p>
    <p id="rd_food_location">Location</p>
    <p id="rd_contact">Contact</p>*/

    function render_options(){
        let over_elements = document.getElementById("rd_body_header");

        let element = over_elements.getElementsByTagName("p");

        for (let i = 0; i < element.length; i++){
            element[i].addEventListener("click",  function(){
            for (let j = 0; j < element.length; j++){
                element[j].style.backgroundColor = "#3F3C54";
                active[j]=0;
            }
            if (this.style.backgroundColor != "rgb(112, 175, 107)") {
                this.style.backgroundColor = "#70af6b";
                active[i]=1;
            }

            else {
                this.style.backgroundColor = "#3F3C54";
                active[i]=0;
                }
            render_body();
            })
        }
    }

    function render_body(){

        for(let i = 0; i < active.length; i++){
            if(active[i]==1){
                document.getElementsByClassName("rd_options")[i].style.display = "inline-block";
            }
            else{
                document.getElementsByClassName("rd_options")[i].style.display = "none";
            }
        }
    }

    render_options();
    render_body();

    function count_cat() {
        let elements = document.getElementsByClassName('rd_dishes');
        let blocks= document.getElementsByClassName('rd_food_block');
        for (let i = 0; i < document.getElementsByClassName('rd_dishes').length; i++) {

            let category = elements[i].getElementsByClassName('rd_food_category');
            let vegetarian_counter = 0;
            let vegan_counter = 0;
            for (let j = 0; j < category.length; j++) {
                if (category[j].innerHTML == 'Vegan' && blocks[j].style.display != "none") {
                    vegan_counter++;
                }
                else {
                    if (blocks[j].style.display != "none") {
                        vegetarian_counter++;
                    }
                }
            }
            document.getElementById('rd_vegetarisch').innerHTML = vegetarian_counter + ' Vegetarisch';
            document.getElementById('rd_vegan').innerHTML = vegan_counter + ' Vegan';
            document.getElementById('rd_vegan').style.userSelect = "none";
            document.getElementById('rd_vegetarisch').style.userSelect = "none";
        }
    }

    function render_vegan(){
        let element = document.getElementById("rd_vegan");

        element.addEventListener("mouseover",  function(){ if(!vegan){this.style.backgroundColor = "#378C61"}});
        element.addEventListener("mouseover",  function(){ if(!vegan){this.style.borderColor = "#378C61"}});
        element.addEventListener("mouseleave",  function(){ if(!vegan){this.style.backgroundColor = "transparent";}});
        element.addEventListener("mouseleave",  function(){ if(!vegan){this.style.borderColor = "lightgrey"}});

         element.addEventListener('click', function (){

            if(!vegan) {
                this.style.backgroundColor = "#378C61";
                this.style.borderColor = "#378C61";
                vegan = true;
                vegetarisch = false;
                document.getElementById("rd_vegetarisch").style.backgroundColor = "transparent";
                document.getElementById("rd_vegetarisch").style.borderColor = "lightgrey";
            }
            else{
                vegan = false;
                this.style.backgroundColor = "transparent";
                this.style.borderColor = "lightgrey";
            }
            render_food();

         })
    }

    function render_vegetarisch(){
        let element = document.getElementById("rd_vegetarisch");

        element.addEventListener("mouseover",  function(){ if(!vegetarisch){this.style.backgroundColor = "#70af6b"}});
        element.addEventListener("mouseover",  function(){ if(!vegetarisch){this.style.borderColor = "#70af6b"}});
        element.addEventListener("mouseleave",  function(){ if(!vegetarisch){this.style.backgroundColor = "transparent";}});
        element.addEventListener("mouseleave",  function(){ if(!vegetarisch){this.style.borderColor = "lightgrey"}});

        element.addEventListener('click', function (){

            if(!vegetarisch) {
                this.style.backgroundColor = "rgb(112,175,107)";
                this.style.borderColor = "rgb(112,175,107)";
                vegetarisch = true;
                vegan = false;

                document.getElementById("rd_vegan").style.backgroundColor = "transparent";
                document.getElementById("rd_vegan").style.borderColor = "lightgrey";
            }
            else{
                vegetarisch = false;
                this.style.backgroundColor = "transparent";
                this.style.borderColor = "lightgrey";
            }
            render_food();

        })
    }

     function render_food(){

        let category = document.getElementsByClassName('rd_food_block');

        let foods = document.getElementsByClassName("rd_food_block");
                    for(let i = 0; i < foods.length; i++){
                        let check = false;
                        for (let j = 0; j < tag_list[i].length; j++) {

                            if (tag_list[i][j] == tag_now) {
                                check = true;
                                foods[i].style.display = "inline-block";

                            } else {
                                if(check == false){
                                    foods[i].style.display = "none";
                                }
                            }
                        }
                    }

        for (let i = 0; i < category.length; i++) {
            if (!(!vegan && !vegetarisch) && !(vegan && vegetarisch)) {

                if (!veg_list[i]) {

                    if (!vegan) {
                        category[i].style.display = "none";
                    } else {
                        if(tag_now == "Alles") {
                            category[i].style.display = "inline-block";
                        }
                        //elements[number].getElementsByClassName('restaurants_category_mark')[i].style.backgroundColor = "#378C61";
                    }
                } else {
                    if (!vegetarisch) {
                        category[i].style.display = "none";
                    } else {
                        if(tag_now == "Alles") {
                            category[i].style.display = "inline-block";
                        }//elements[number].getElementsByClassName('restaurants_category_mark')[i].style.backgroundColor = "rgb(112,175,107)";
                    }
                }
            }
        else{
            if(tag_now == "Alles") {
                category[i].style.display = "inline-block";
            }
            else{
                 foods = document.getElementsByClassName("rd_food_block");
                    for(let i = 0; i < foods.length; i++){
                        let check = false;
                        for (let j = 0; j < tag_list[i].length; j++) {

                            if (tag_list[i][j] == tag_now) {
                                check = true;
                                foods[i].style.display = "inline-block";

                            } else {
                                if(check == false){
                                    foods[i].style.display = "none";
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    function render_food_tags(){
        let elements = document.getElementsByClassName("rd_food_tag");
        for (let i=0; i < elements.length; i++){
            for (let j=0; j < elements.length; j++){
                if(elements[i].innerHTML == elements[j].innerHTML && i != j){
                    elements[j].style.display = "none";
                    elements[j].innerHTML = " "
                }
            }
        }
        let p=0;
         for (let o=0; o < elements.length; o++){

           if(elements[o].innerHTML != " "){
               food_tags[p] = elements[o].innerHTML;
               p++
           }
        }

    }

    for (let i=0; i<document.getElementsByClassName("rd_food_tag").length ; i++) {



        document.getElementsByClassName("rd_food_tag")[i].addEventListener('click', function () {

            if (this.style.backgroundColor != "rgb(112, 175, 107)") {
                this.style.backgroundColor = "#70af6b";
                this.style.color = "white";

                let text = this.innerHTML;
                for (let j =0; j <  document.getElementsByClassName("rd_food_tag").length; j++){
                    if(j != i){
                        document.getElementsByClassName("rd_food_tag")[j].style.backgroundColor = "transparent";
                        document.getElementsByClassName("rd_food_tag")[j].style.color = "darkgrey";
                        document.getElementsByClassName("rd_food_tag")[j].style.userSelect = "none";
                    }
                }
                tag_now = text;
                food_tags_render(text);

            }

            else {
                this.style.backgroundColor = "transparent";
                this.style.color = "darkgrey";
                document.getElementsByClassName("rd_food_tag")[0].click();
            }
        })
    }

    function food_tags_render(text){

        let foods = document.getElementsByClassName("rd_food_block");

        for(let i = 0; i < foods.length; i++){
            let check = false;
            if(text != "Alles") {

                for (let j = 0; j < tag_list[i].length; j++) {

                    if (tag_list[i][j] == text) {
                        check = true;
                        foods[i].style.display = "inline-block";
                    } else {
                        if(check == false) {
                            foods[i].style.display = "none";
                        }
                    }
                }
            }
            else{
                foods[i].style.display = "inline-block";
            }
        }
        count_cat();
        render_food();

    }


    function stars(elements) {

        let SternArray = new Array(5);

        let TextInsideP = elements.getElementsByTagName('p')[0].innerHTML;

        elements.getElementsByTagName('p')[0].style.display = "none";

        if (TextInsideP == 0.0) {
            SternArray = [0, 0, 0, 0, 0];
        }
        if (TextInsideP == 1.0) {
            SternArray = [1, 0, 0, 0, 0];
        }
        if (TextInsideP == 2.0) {
            SternArray = [1, 1, 0, 0, 0];
        }
        if (TextInsideP == 3.0) {
            SternArray = [1, 1, 1, 0, 0];
        }
        if (TextInsideP == 4.0) {
            SternArray = [1, 1, 1, 1, 0];
        }
        if (TextInsideP == 5.0) {
            SternArray = [1, 1, 1, 1, 1];
        }

        for (let i = 0; i < SternArray.length; i++) {

            let element = document.createElement("img");

            if (SternArray[i] == 1) {
                element.setAttribute('src', "{% static 'assets/stern.png' %}");
            }

            if (SternArray[i] == 0) {
                element.setAttribute('src', "{% static 'assets/stern_leer.png' %}");
            }

            element.id = 'i';
            element.className = "stars_class";

            elements.appendChild(element);
        }
    }
    mybutton = document.getElementById("myBtn");

    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > 600) {
        mybutton.style.display = "block";

      } else {
        mybutton.style.display = "none";
      }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 262; // For Safari
      document.documentElement.scrollTop = 262; // For Chrome, Firefox, IE and Opera
    }

    stars(document.getElementById("rd_rating"));
    for(let i = 0; i < document.getElementsByClassName("rd_comment_rating").length; i++){
       stars(document.getElementsByClassName("rd_comment_rating")[i]);
    }

    render_vegan();
    render_vegetarisch();
    render_food_tags();
    count_cat()

</script>

{% endblock %}