{% extends 'accounts/main.html' %}

{% block content %}

    <div id="restaurants_wrapper">

        <div id="restaurants_background"></div>

        <div id="restaurants_header">
            <div id="restaurants_searchbar"></div>
         </div>

        <div id="restaurants_body">
            <div id="restaurants_mainspace"></div>
        </div>

        <div id="restaurants_aside_left">
            <div id="restaurants_filter"></div>
        </div>

        <div id="restaurants_aside_right">
            <div id="restaurants_map"></div>
        </div>

    </div>

<script>
    let searchbarMinusWidth=30;
   function adaptSize(ele1, ele2, minusWidth) {
       if(typeof(minusWidth)==='undefined'){minusWidth = 0;}
       document.getElementById(ele1).style.width = document.getElementById(ele2).clientWidth - minusWidth + "px";
   }

   window.addEventListener('resize', function() { adaptSize('restaurants_searchbar', 'restaurants_header',searchbarMinusWidth); });

   adaptSize('restaurants_searchbar', 'restaurants_header', searchbarMinusWidth);
</script>



{% endblock %}