{% extends 'accounts/main.html' %}
{% load static %}

{% block content %}

<div id="user_banner"></div>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
<div id="user_header">
{% ifequal user.profile_picture None %}
    <img id="rd_profile_image" src="{% static 'assets/dashboard-BG.jpg' %}">
{% else %}
    <img src="{{user.profile_picture.url}}">
{% endifequal %}
    {{pictureForm.profile_picture}}
    <p id="rd_name">{{user.username}}</p>{{userForm.username}}
</div>



<div id="user_body">
    <div id="user_body_header">
        <p>{{user.email}}</p>{{userForm.email}}
        <p>{{user.first_name}}s</p>{{userForm.first_name}}
        <p>{{user.last_name}}</p>{{userForm.last_name}}
        {% if user.biography is not None %}
            <p>{{user.biography}}</p>{{userForm.biography}}
        {% else %}
            <p>write your own biography to show others who you are!</p>{{userForm.biography}}
        {% endif %}
    </div>
    <input type="submit" value="Submit" class="btn btn-outline-success">
</div>
</form>

 {% endblock %}

