{% extends 'accounts/main.html' %}
{% load static %}

{% block content %}

<!--<div id="user_banner"></div>-->

<form method="POST" enctype="multipart/form-data">
<div id="user_wrapper">
    {% csrf_token %}
<div id="user_header" class="user_header_class">
    <div class="user_logo_container">
    {% ifequal user.profile_picture None %}
        <img class="ud_profile_image" src="{% static 'assets/dashboard-BG.jpg' %}">
    {% else %}
        <img class="ud_profile_image" src="{{user.profile_picture.url}}">
    {% endifequal %}
    </div>
    <p id="user_username">{{user.username}}</p>
    <p id="user_start_edit" onclick="startEdit()">Profil bearbeiten</p>
    <br><br>
    <p id="user_name">{{user.first_name}} {{user.last_name}}</p>
    <p id="user_biographie">{{user.biography}}</p>

    {% if request.user.is_authenticated %}
    {% if friend_requests %}
    <a href="#">
        <div class="friend_request_icon_container">
            <span class="friend_text">Friend Requests ({{friend_request|length}})</span>
        </div>
    </a>
    {% endif %}
    {% endif %}
</div>

<div id="user_change_header" class="user_header_class">
    <div class="user_logo_container">
    {% ifequal user.profile_picture None %}
        <img class="ud_profile_image" src="{% static 'assets/dashboard-BG.jpg' %}">
    {% else %}
        <img class="ud_profile_image" id="user_output" src="{{user.profile_picture.url}}">
        <img id="output"/>
    {% endifequal %}

        <div id="user_pic_change">
            <form class="user_pic_change_form">
                <input type="file" name="profile_picture" accept="image/*" id="id_profile_picture" onchange="loadFile(event)">
                <label class="button" for="id_profile_picture" id="user_label"><p>Profilbild <br>ändern</p></label>
            </form>
        </div>
    </div>

    <p id="user_stop_edit" class="click_text" onclick="stopEdit()">bearbeiten beenden</p>

    {{userForm.username}}

    {% if user.biography is not None %}
        {{userForm.biography}}
    {% else %}
        <p>Füge eine Biographie hinzu, um anderen zu zeigen wer Du bist!</p>{{userForm.biography}}
    {% endif %}
    <div class="user_p_container">
        <p>E-Mail</p>
        {{userForm.email}}
    </div>
    <div class="user_p_container">
        <p>Vorname</p>
        {{userForm.first_name}}
    </div>
    <div class="user_p_container">
        <p>Nachname</p>
        {{userForm.last_name}}
    </div>

    <input id="user_data_button" type="submit" value="Speichern" class="submit_button">

</div>


<div id="user_body">

    <div id="user_body_header">
        <p id="user_home">Meine Bewertungen</p>
        <p id="user_saved">Meine Restaurants</p>
    </div>

    <div id="user_information_display" class="user_options">

        <div id="user_comments">
            {% for comment in comments reversed %}
                <div class="rd_comment">
                <div class="display_comment">
                <div class="rd_comment_profilepic">
                {% if comment.restaurant.restaurant_picture %}
                <img class="rd_profilepic" src="{{comment.restaurant.restaurant_picture.url}}" alt="Profilbild">
                {% else %}
                <img class="rd_profilepic" src="{% static 'assets/PO_Icon_White_BG.png' %}" alt="Profilbild">
                {% endif %}
                </div>
                <a href="{% url 'restaurant_detail' pk=comment.restaurant.pk underpage=0 %}"><div class="rd_comment_username">{{ comment.restaurant.name }}</div></a>
                <div class="rd_comment_time">{{ comment.date_created }}</div>
                <div class="rd_comment_rating">
                <p> {{ comment.ratings }} </p>
                </div>
                <div class="rd_comment_text">{{ comment.content }}</div>
                </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div id="user_saved_display" class="user_options">
        {% for i in liked %}
        <div class='restaurants_block' data-name="restaurant{{ forloop.counter0 }}">
            <div class="restaurants_img">
            {% ifequal i.restaurant_picture None %}
                <img src="{% static 'assets/dashboard-BG.jpg' %}">
            {% else %}
                <img src="{{i.restaurant_picture.url}}">
            {% endifequal %}

            </div>
            <div class="restaurants_name">
                <p><a class="restaurants_name_link" href="{% url 'restaurant_detail' pk=i.pk underpage=0 %}">{{i.name}}</a></p>
            </div>
            <div class="restaurants_rating" >
                <p>{{i.averageRating}}</p>
            </div>
            <div class="restaurants_tags">
                <p>
                {% for k in i.tags.all%}
                    {% if forloop.counter <= 2 and forloop.last is not True%}
                        {{k}},
                    {% else %}
                        {% if forloop.counter <= 3%}
                            {{k}}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <p>
                </div>

                <div class="restaurants_adresse">
                <!-- <img src="{% static 'assets/PO_Icon_Green_Fill.png' %}"> -->
                <p class="restaurants_adresse_adresse">{{i.address}} {{i.houseNumber}}, {{i.city}} </p>
                <p class="restaurants_adresse_entfernung">?km entfernt</p>
                </div>

                <div class="restaurants_anzahl_vegan">

                    <p>? Vegan</p>

                </div>

                <div class="restaurants_anzahl_vegetarisch">

                    <p>? Vegetarisch</p>

                </div>

                <div class="restaurants_dishes">
                    {% for j in foods %}
                    {% if j.restaurant == i %}
                    <p class="restaurants_food_category">{{j.category}}</p>
                    <div class="restaurants_food">
                        <div class="restaurants_category_mark"></div>
                        <div class="restaurants_food_name">
                            <p>{{j.name}}</p>
                        </div>
                        <div class="restaurants_food_rating">
                            <p>{{j.rating}}</p>
                        </div>
                        <div class="restaurants_food_price">
                            <p>{{j.price}}€</p>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>

                <div class="restaurants_vegetarische_Optionen"></div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div id="user_friends_display" class="user_options"></div>



</div>
</form>

<script>
    let vegetarisch = false;
    let vegan = false;
    let active= [1,0,0];
    let newElement = document.getElementsByClassName('$0');
    let classesNodeList = document.querySelectorAll(".restaurants_rating");
    newElement.textContent = "Never Mind";

    document.getElementById("user_home").style.backgroundColor= "#70af6b";

    function startEdit(){
        let header = document.getElementById("user_header");
        let change = document.getElementById("user_change_header");
        header.style.display = 'none';
        change.style.display = "inline-block";
    }
    function stopEdit(){
        let header = document.getElementById("user_header");
        let change = document.getElementById("user_change_header");
        header.style.display = 'inline-block';
        change.style.display = 'none';
    }


    let dropArea = document.getElementById('user_pic_change');
    let label = document.getElementById('user_label');

    ;['dragenter', 'dragover'].forEach(eventName => {
        dropArea.addEventListener(eventName, highlight, false)
    })

    ;['dragleave', 'drop'].forEach(eventName => {
        dropArea.addEventListener(eventName, unhighlight, false)
    })

    function highlight(e) {
        label.style.backgroundColor = 'rgba(211,211,211,0.8)';
    }

    function unhighlight(e) {
        label.style.backgroundColor = 'rgba(0, 0, 0, 0.7)';
    }

    let loadFile = function(event) {
        let reader = new FileReader();
        reader.onload = function(){
        let output = document.getElementById('user_output');
        output.src = reader.result;
    };
    reader.readAsDataURL(event.target.files[0]);
    };

    for (let i = 0; i < document.getElementsByClassName("rd_comment_rating").length; i++) {
             stars(document.getElementsByClassName("rd_comment_rating")[i]);
         }

    function stars(elements) {

        let SternArray = new Array(5);

        let TextInsideP = elements.getElementsByTagName('p')[0].innerHTML;

        elements.getElementsByTagName('p')[0].style.display = "none";

        if (TextInsideP < 0.3) {
        SternArray = [0, 0, 0, 0, 0];
    }
    if (TextInsideP < 0.7 && TextInsideP >= 0.3) {
        SternArray = [0.5, 0, 0, 0, 0];
    }
    if (TextInsideP >= 0.7 && TextInsideP < 1.3) {
        SternArray = [1, 0, 0, 0, 0];
    }
    if (TextInsideP >= 1.3 && TextInsideP < 1.7) {
        SternArray = [1, 0.5, 0, 0, 0];
    }
    if (TextInsideP >= 1.7 && TextInsideP < 2.3) {
        SternArray = [1, 1, 0, 0, 0];
    }
    if (TextInsideP >= 2.3 && TextInsideP < 2.7) {
        SternArray = [1, 1, 0.5, 0, 0];
    }
    if (TextInsideP >= 2.7 && TextInsideP < 3.3) {
        SternArray = [1, 1, 1, 0, 0];
    }
    if (TextInsideP >= 3.3 && TextInsideP < 3.7) {
        SternArray = [1, 1, 1, 0.5, 0];
    }
    if (TextInsideP >= 3.7 && TextInsideP < 4.3) {
        SternArray = [1, 1, 1, 1, 0];
    }
    if (TextInsideP >= 4.3 && TextInsideP < 4.7) {
        SternArray = [1, 1, 1, 1, 0.5];
    }
    if (TextInsideP >= 4.7) {
        SternArray = [1, 1, 1, 1, 1];
    }

        for (let i = 0; i < SternArray.length; i++) {

            let element = document.createElement("img");

            if (SternArray[i] == 1) {
                element.setAttribute('src', "{% static 'assets/stern.png' %}");
            }

            if (SternArray[i] == 0.5) {
                element.setAttribute('src', "{% static 'assets/stern_halb.png' %}");
            }

            if (SternArray[i] == 0) {
                element.setAttribute('src', "{% static 'assets/stern_leer.png' %}");
            }

            element.id = 'i';
            element.className = "stars_class";

            elements.appendChild(element);
        }
    }

    for (let i = 0; i < document.getElementsByClassName('restaurants_dishes').length; i++){
        let elements = document.getElementsByClassName('restaurants_dishes');
        let category = elements[i].getElementsByClassName('restaurants_food_category');
        let vegetarian_counter = 0;
        let vegan_counter = 0;
        for (let j = 0; j < category.length; j++){
            if(category[j].innerHTML == 'Vegan') {
               vegan_counter++;
            }
            else {
               vegetarian_counter++;
                }
            }
        document.getElementsByClassName('restaurants_anzahl_vegetarisch')[i].innerHTML= vegetarian_counter + ' Vegetarisch';
        document.getElementsByClassName('restaurants_anzahl_vegan')[i].innerHTML= vegan_counter + ' Vegan';
        //document.getElementsByClassName('restaurants_anzahl_vegetarisch')[i].style.padding = "2px";
        //document.getElementsByClassName('restaurants_anzahl_vegan')[i].style.padding = "2px";
        document.getElementsByClassName('restaurants_anzahl_vegetarisch')[i].style.userSelect = "none";
        document.getElementsByClassName('restaurants_anzahl_vegan')[i].style.userSelect = "none";
    }



    function render_options(){
        let over_elements = document.getElementById("user_body_header");

        let element = over_elements.getElementsByTagName("p");

        for (let i = 0; i < element.length; i++){
            element[i].addEventListener("click",  function(){
            for (let j = 0; j < element.length; j++){
                element[j].style.backgroundColor = "#3F3C54";
                active[j]=0;
            }
            if (this.style.backgroundColor != "rgb(112, 175, 107)") {
                this.style.backgroundColor = "#70af6b";
                active[i]=1;
            }

            else {
                this.style.backgroundColor = "#3F3C54";
                active[i]=0;
                }
            render_body();
            })
        }
    }

    function render_body(){

        for(let i = 0; i < active.length; i++){
            if(active[i]==1){
                document.getElementsByClassName("user_options")[i].style.display = "inline-block";
            }
            else{
                if(active[i]==0){
                    document.getElementsByClassName("user_options")[i].style.display = "none";
                }
            }
        }
    }


    for(let i = 0; i < document.getElementsByClassName("user_comment_rating").length; i++){
       stars(document.getElementsByClassName("user_comment_rating")[i]);
    }
    for(let i = 0; i < document.getElementsByClassName("restaurants_rating").length; i++){
       stars(document.getElementsByClassName("restaurants_rating")[i]);
    }

    function render_food(number){
        let elements = document.getElementsByClassName('restaurants_dishes');
        let category = elements[number].getElementsByClassName('restaurants_food_category');
        for (let i = 0; i < category.length; i++){
            if(category[i].innerHTML == 'Vegan') {
                if (!vegan) {
                    elements[number].getElementsByClassName('restaurants_food')[i].style.display = "none";
                } else {
                    elements[number].getElementsByClassName('restaurants_food')[i].style.display = "block";
                    elements[number].getElementsByClassName('restaurants_category_mark')[i].style.backgroundColor = "#378C61";
                }
            }
            else {
                if (!vegetarisch) {
                    elements[number].getElementsByClassName('restaurants_food')[i].style.display = "none";
                } else {
                    elements[number].getElementsByClassName('restaurants_food')[i].style.display = "block";
                    elements[number].getElementsByClassName('restaurants_category_mark')[i].style.backgroundColor = "rgb(112,175,107)";
                }
            }
        }
    }

    for (let i = 0; i < document.getElementsByClassName('restaurants_dishes').length; i++){
        let elements = document.getElementsByClassName('restaurants_dishes');
        let category = elements[i].getElementsByClassName('restaurants_food_category');
        let vegetarian_counter = 0;
        let vegan_counter = 0;
        for (let j = 0; j < category.length; j++){
            if(category[j].innerHTML == 'Vegan') {
               vegan_counter++;
            }
            else {
               vegetarian_counter++;
                }
            }
        document.getElementsByClassName('restaurants_anzahl_vegetarisch')[i].innerHTML= vegetarian_counter + ' Vegetarisch';
        document.getElementsByClassName('restaurants_anzahl_vegan')[i].innerHTML= vegan_counter + ' Vegan';
        //document.getElementsByClassName('restaurants_anzahl_vegetarisch')[i].style.padding = "2px";
        //document.getElementsByClassName('restaurants_anzahl_vegan')[i].style.padding = "2px";
        document.getElementsByClassName('restaurants_anzahl_vegetarisch')[i].style.userSelect = "none";
        document.getElementsByClassName('restaurants_anzahl_vegan')[i].style.userSelect = "none";
    }

    function vegetarischDropdown() {
        var elements = document.getElementsByClassName("restaurants_anzahl_vegetarisch");
        for (let i = 0; i < elements.length; i++) {

        elements[i].addEventListener("mouseover",  function(){ if(!vegetarisch){this.style.backgroundColor = "rgb(112,175,107)"}});
        elements[i].addEventListener("mouseover",  function(){ if(!vegetarisch){this.style.borderColor = "rgb(112,175,107)"}});
        elements[i].addEventListener("mouseleave",  function(){ if(!vegetarisch){this.style.backgroundColor = "transparent";}});
        elements[i].addEventListener("mouseleave",  function(){ if(!vegetarisch){this.style.borderColor = "lightgrey"}});

        elements[i].addEventListener('click', function (){
            if(!vegetarisch) {
                document.getElementsByClassName("restaurants_dishes")[i].style.display = "block";
                this.style.backgroundColor = "rgb(112,175,107)";
                this.style.borderColor = "rgb(112,175,107)";
                vegetarisch = true;
            }
            else{
                if(!vegan) {
                    document.getElementsByClassName("restaurants_dishes")[i].style.display = "none";
                }
                vegetarisch = false;
                this.style.backgroundColor = "transparent";
                this.style.borderColor = "lightgrey";
            }
              render_food(i);
        })
        }
    }

    function veganDropdown() {
        var elements = document.getElementsByClassName("restaurants_anzahl_vegan");
        for (let i = 0; i < elements.length; i++) {

        elements[i].addEventListener("mouseover",  function(){ if(!vegan){this.style.backgroundColor = "#378C61"}});
        elements[i].addEventListener("mouseover",  function(){ if(!vegan){this.style.borderColor = "#378C61"}});
        elements[i].addEventListener("mouseleave",  function(){ if(!vegan){this.style.backgroundColor = "transparent";}});
        elements[i].addEventListener("mouseleave",  function(){ if(!vegan){this.style.borderColor = "lightgrey"}});

        elements[i].addEventListener('click', function (){
            if(!vegan) {
                document.getElementsByClassName("restaurants_dishes")[i].style.display = "block";
                this.style.backgroundColor = "#378C61";
                this.style.borderColor = "#378C61";
                vegan = true;

            }
            else{
                if(!vegetarisch) {
                    document.getElementsByClassName("restaurants_dishes")[i].style.display = "none";
                }
                vegan = false;
                this.style.backgroundColor = "transparent";
                this.style.borderColor = "lightgrey";
            }
              render_food(i);
        })
        }
    }



    vegetarischDropdown();
    veganDropdown()
    render_options();
    render_body();

</script>

{% include 'accounts/snippets/send_friend_request.html' %}

 {% endblock %}

